#wrapper{
    background-color:rgb(121, 117, 117);
    min-height: 100vh;
    padding: 17px;
    box-shadow: 3px 1px 6px 2px rgba(0,0,0,0.75);
}

img{
    border-radius: 50%;
    height: 100px;
    margin:0 auto;
}

body {
    display: flex;
    flex-direction: column;
  }



.nav-item>a{
    color:white;
}


.ml-3>a:hover{
    text-decoration: underline;
}

.row{
    margin-right: 0;
    background-color:White!important;
}

li>a{
    cursor: pointer;
}

.ml-3 > a{
    font-size:13px;
}

.card{
    background-color:white;
    box-shadow: 3px 1px 6px 2px rgba(0,0,0,0.75);
    color:black!important;
}

/* 
breadcrumb/deep/.breadcrumb{
background-color:rgba(128, 128, 128, 0.493)!important;
} */