<app-admin-navbar></app-admin-navbar>
<div class="row">
    <div class="col-md-2">
        <div class="card">
            <img src="https://upload.wikimedia.org/wikipedia/commons/4/42/Simpleicons_Interface_user-black-close-up-shape.svg"
                class="img-thumbnail">
            <h6 class="text-center" style="text-transform: none;">Καλωσήρθες {{ authService.decodedToken?.firstname |
                titlecase}}</h6>
        </div>
        <div id="wrapper">
            <ul class="sidebar navbar-nav">
                <li class="nav-item active">
                    <a (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="collapseBasic"><i
                            class="fa fa-fw fa-tachometer"></i>Dashboard<i class="fa fa-angle-down pull-right"></i>
                    </a>
                    <div id="collapseBasic" [collapse]="isCollapsed" class="ml-3">

                        <a class="nav-link text-white" [routerLink]="['/admin/main']">
                            <hr>
                            <i class="fa fa-fw fa-tachometer"></i>
                            Αρχική σελίδα
                        </a>
                    </div>
                    <hr>
                </li>
                <li class="nav-item active">
                    <a (click)="isCollapsed1 = !isCollapsed1" [attr.aria-expanded]="!isCollapsed1" aria-controls="collapseBasic1"><i
                            class="fa fa-archive" aria-hidden="true"></i>
                        Προϊόντα<i class="fa fa-angle-down pull-right"></i>
                    </a>
                    <div id="collapseBasic1" [collapse]="isCollapsed1" class="ml-3">
                        <hr>
                        <!-- <a class="nav-link text-white" [routerLink]="['/admin/main']">
                           
                            <i class="fa fa-search"></i>
                           Αναζήτηση Προϊόντος
                        </a> -->
                        <a class="nav-link  text-white" [routerLink]="['/admin/main/create-product']">
                            <i class="fa fa-plus-circle"></i>
                            Δημιουργία Προιόντος
                        </a>
                        <a class="nav-link text-white " [routerLink]="['/admin/main/details']">
                            <i class="fa fa-list mr-1 " aria-hidden="true"></i>
                            Λίστα Προϊόντων</a>
                    </div>
                    <hr>
                </li>
                <li class="nav-item active">
                    <a (click)="isCollapsed2 = !isCollapsed2" [attr.aria-expanded]="!isCollapsed2" aria-controls="collapseBasic2"><i
                            class="fa fa-user mr-1"></i>Πελάτες<i class="fa fa-angle-down pull-right"></i>
                    </a>
                    <div id="collapseBasic2" [collapse]="isCollapsed2" class="ml-3">
                            <hr>
                        <a class="nav-link text-white" [routerLink]="['/admin/main']">
                           
                            <i class="fa fa-list-ol" aria-hidden="true"></i>
                            Λίστα Πελατών
                        </a>
                        <a class="nav-link text-white" [routerLink]="['/admin/main/user-page']">
                           
                            <i class="fa fa-commenting-o" aria-hidden="true"></i>
                            Μηνύματα Πελατών
                        </a> 
                    </div>
                    <hr>
                </li>
                <li class="nav-item active">
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/admin/main/product-settings']">
                        <i class="fa fa-fw fa-table"></i>
                        <span>Προσθήκη Χρωμάτων & Μεγεθών</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">
                        <i class="fa fa-fw fa-edit"></i>
                        <span>Επεξεργασία Προιόντος</span></a>
                </li>
            </ul>
        </div>

    </div>
    <div class="col-md-10">
        <router-outlet></router-outlet>

    </div>
</div>