
.form-control{
    padding:0 2rem;
}

img{
    width: 50px;
    
}

.table th, .table td {
    padding: 0.5rem;
    margin:auto 0;
}

.btn-sm{
    cursor: pointer;
}

.width-140{
    width: 131px;
}
.table-bordered th, .table-bordered td {
    border: 2px outset #dee2e6;
}