
.form-control{
    padding: 0 7px;
}

img{
    width: 70px;
}

.table th, .table td {
    padding: 0.5rem;
    margin:auto 0;
}
.table.mt-5{
    margin-top:4rem!important;
}

.btn-sm{
    cursor: pointer;
}

.width-140{
    width: 131px;
}


.container{
    max-width:1100px;
}

.form-control{
    margin-top:30px;
}

span{
    cursor: pointer;
}

table, .container{
    color:black!important;
}
