<app-navbar></app-navbar>

<app-checkout-steps [step]="2"></app-checkout-steps>
<div class="container mt-4 mb-5">
  <div class="row text-dark bg-white pt-3">
    <div class="col-md-4 order-md-2 mb-4">
      <h4 class="d-flex justify-content-between align-items-center mb-3">
        <span class="h4">Το καλάθι σας</span>
        <span class="badge badge-warning badge-pill">{{cart.length}}</span>
      </h4>
      <ul class="list-group mb-3">
        <li class="list-group-item d-flex justify-content-between  lh-condensed" *ngFor="let it of cart">
          <div>
            <h6 class="my-0">{{it.product.title}}</h6>
            <small class="text-muted">{{it.product.material}}</small>
          </div>
          <span class="">{{it.quantity}} x {{it.product.totalCost}} &euro;</span>
        </li>
        <!-- <li class="list-group-item  d-flex justify-content-between" *ngIf="!order.isPickUp">
          <div>
            <p class="mb-0">Έξοδα αποστολής</p>
            <small class="text-muted">(χρέωση για όλη την ελλάδα)</small>
          </div>
          <strong>3 &euro;</strong>
        </li> -->
        <li class="list-group-item  d-flex justify-content-between text-warning">
          <span>* Έκπτωση</span>
          <strong>{{totalOfItems()}} &euro; (-20%)</strong>
        </li>

        <li class="list-group-item  d-flex justify-content-between">
          <span>Σύνολο (EURO)</span>
          <strong>{{totalOfItemsWithPer()}} &euro; </strong>
        </li>
        <li class="list-group-item d-flex">
          <button class="btn btn-warning btn-block" [routerLink]="['/cart']">Πίσω στο καλάθι</button>
        </li>
        <small class="text-muted text-center">* Έκπτωση -20% σε όλες τις επόμενες παραγγελίες σας μέχρι τέλος Φεβρουαρίου</small>
      </ul>
    </div>
    <div class="col-md-8 order-md-1 text-dark">
      <h4 class="mb-3">Διεύθυνση Χρέωσης</h4>
      <div class="row">
        <div class="col-md-6 mb-3">
          <label for="firstName" [ngClass]="{'text-danger': validShop}">Όνομα *</label>
          <input type="text" class="form-control" id="firstName" [(ngModel)]="order.firstName" required (click)="validShop=false">
        </div>
        <div class="col-md-6 mb-3">
          <label for="lastName" [ngClass]="{'text-danger': validShop}">Επίθετο *</label>
          <input type="text" class="form-control" id="lastName" [(ngModel)]="order.lastName" required (click)="validShop=false">
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-md-6">
          <label for="email" [ngClass]="{'text-danger': validShop}">Email *</label>
          <input type="email" class="form-control" id="email" [(ngModel)]="order.email" placeholder="you@example.com"
            (click)="validShop=false">
        </div>
        <div class="col-md-6">
          <label for="email" [ngClass]="{'text-danger': validShop}">Τηλέφωνο *</label>
          <input type="text" class="form-control" id="mobile" [(ngModel)]="order.mobile" (click)="validShop=false">
        </div>
      </div>
      <div class="mb-3">
        <label for="address" [ngClass]="{'text-danger': validShop}">Διεύθυνση *</label>
        <input type="text" class="form-control" id="address" [(ngModel)]="order.address" required (click)="validShop=false">
      </div>
      <div class="row">
        <div class="col-md-5 mb-3">
          <label for="country" [ngClass]="{'text-danger': validShop}">Πόλη *</label>
          <input type="text" class="form-control" id="city" [(ngModel)]="order.city" required (click)="validShop=false">
        </div>
        <div class="col-md-4 mb-3">
          <label for="state" [ngClass]="{'text-danger': validShop}">Περιοχή *</label>
          <input type="text" class="form-control" id="state" [(ngModel)]="order.area" required (click)="validShop=false">
        </div>
        <div class="col-md-3 mb-3">
          <label for="zip" [ngClass]="{'text-danger': validShop}">ΤΚ *</label>
          <input type="text" class="form-control" id="zip" [(ngModel)]="order.postalCode" required (click)="validShop=false">
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-lg-12 pb-3">
          <span [ngClass]="{'text-danger': validShop}">* Υποχρεωτικά πεδία</span>
        </div>
      </div>
      <hr class="bg-white">
      <h4 class="mb-3">Αποστολή</h4>
      <div class="d-block my-3">
        <div class="custom-control custom-radio mb-2">
          <input [checked]="checkShippmanet(true)" type="radio" class="custom-control-input" required>
          <label class="custom-control-label" (click)="order.isPickUp = true;order.paymentMethod = 0" for="credit">Παραλαβή
            από το κατάστημα
          </label>
        </div>
        <div class="form-group input-group-md col-md-6 pl-0" *ngIf="order.isPickUp">
          <select name="category" class="form-control" [(ngModel)]="order.store">
            <option [value]="item.title" *ngFor="let item of stores">{{item.title}}</option>
          </select>
        </div>
        <div class="custom-control custom-radio">
          <input [checked]="checkShippmanet(false)" type="radio" class="custom-control-input" required>
          <label class="custom-control-label" (click)="order.isPickUp = false" for="paypal">
            <p class="mb-0"> Αποστολή στην παραπάνω διεύθυνση</p>
            <!-- <p class="mb-0" *ngIf="!order.isPickUp"><small>(Η παραγγελία σας θα επιβαρυνθεί με επιπλέον 3 &euro; για
                αποστολή εντός ελλάδος)</small></p> -->
            <p class="mb-0" *ngIf="!order.isPickUp"><small>(Δωρεάν τα μεταφορικά σε όλη την Ελλάδα μέχρι μέχρι τέλους
                Φεβρουαρίου)</small></p>
          </label>
        </div>

      </div>
      <hr class="bg-white">
      <h4 class="mb-3">Σχόλια Παραγγελίας</h4>
      <div class="form-group">
        <textarea class="form-control" [(ngModel)]="order.comments" rows="3"></textarea>
      </div>
      <hr class="bg-white">
      <h4 class="mb-3">Πληρωμή</h4>
      <div class="d-block my-3">
        <div class="custom-control custom-radio" *ngIf="order.isPickUp">
          <input [checked]="checkPaymentMethod(0)" type="radio" class="custom-control-input" required>
          <label class="custom-control-label" (click)="order.paymentMethod = 0" for="credit">Πληρωμή στο κατάστημα</label>
          <br>
          <small>(Μπορείτε να πληρώσετε με μετρητά ή κάρτα)</small>
        </div>
        <div class="custom-control custom-radio" *ngIf="!order.isPickUp">
          <input [checked]="checkPaymentMethod(0)" type="radio" class="custom-control-input" required>
          <label class="custom-control-label" (click)="order.paymentMethod = 0" for="credit">Αντικαταβολή </label>
        </div>
        <br>
        <div class="custom-control custom-radio" *ngIf="!order.isPickUp">
          <input [checked]="checkPaymentMethod(1)" type="radio" class="custom-control-input" required>
          <label class="custom-control-label" (click)="order.paymentMethod = 1" for="paypal">PayPal</label>
          <span class="ml-1"><img src="http://icons.iconarchive.com/icons/alecive/flatwoken/512/Apps-Paypal-icon.png"
              alt="" style="max-width:30px"></span>
        </div>
        <br>
        <div class="custom-control custom-radio" *ngIf="order.isPickUp">
          <input [checked]="" type="radio" class="custom-control-input" disabled>
          <label class="custom-control-label" for="paypal">PayPal</label>
          <span class="ml-1"><img src="http://icons.iconarchive.com/icons/alecive/flatwoken/512/Apps-Paypal-icon.png"
              alt="" style="max-width:30px"></span>
          <br>
          <small class="mb-0" *ngIf="order.isPickUp">(H πληρωμή με Paypal δεν είναι διαθέσιμη για παραλαβή από το
            κατάστημα) </small>
        </div>
        <br>


      </div>
      <hr class="bg-white">
      <div class="form-check">
        <label class="form-check-label">
          <input class="form-check-input" type="checkbox" [(ngModel)]="gdp" (change)="gdp != gdp">
          Πρέπει να συμφωνήσετε με τους <a [routerLink]="['/terms-of-use']">όρους χρήσης</a> για να συνεχίσετε.
        </label>
      </div>
      <br>
      <button class="btn btn-warning btn-lg btn-block mb-3" (click)="nextStep()" [disabled]="!gdp">Συνέχεια προς
        Πληρωμή</button>
      <div class="alert alert-dismissible alert-danger" *ngIf="validShop">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        *Συμπλήρωσε όλα τα υποχρεωτικά στοιχεία για να συνεχίσετε
      </div>
    </div>

  </div>
</div>
<app-footer></app-footer>