<app-navbar></app-navbar>
<div class="container pt-4 pb-5">
  <app-checkout-steps [step]="1" [percent]="50"></app-checkout-steps>
  <div class="row">
    <div class="col-md-4 order-md-2 mb-4">
      <h4 class="d-flex justify-content-between align-items-center mb-3">
        <span class="text-muted">Το καλάθι σας</span>
        <span class="badge badge-success badge-pill">{{cart.items.length}}</span>
      </h4>
      <ul class="list-group mb-3">
        <li class="list-group-item d-flex justify-content-between bg-dark lh-condensed" *ngFor="let it of cart.items">
          <div>
            <h6 class="my-0">{{it.product.title}}</h6>
            <small class="text-muted">{{it.product.material}}</small>
          </div>
          <span class="text-muted">{{it.product.totalCost}} &euro;</span>
        </li>
        <li class="list-group-item bg-dark d-flex justify-content-between">
          <span>Σύνολο (EURO)</span>
          <strong>{{totalOfItems()}} &euro;</strong>
        </li>
        <li class="list-group-item d-flex bg-dark" >
          <button class="btn btn-warning btn-block" [routerLink]="['/cart']">Πίσω στο καλάθι</button>
        </li>
      </ul>
    </div>
    <div class="col-md-8 order-md-1">
      <h4 class="mb-3">Διεύθυνση Χρέωσης</h4>
      <div class="row">
        <div class="col-md-6 mb-3">
          <label for="firstName">Όνομα</label>
          <input type="text" class="form-control" id="firstName" [(ngModel)]="cart.firstName" required>
          <div class="invalid-feedback">
            Valid first name is required.
          </div>
        </div>
        <div class="col-md-6 mb-3">
          <label for="lastName">Επίθετο</label>
          <input type="text" class="form-control" id="lastName" [(ngModel)]="cart.lastname" required>
          <div class="invalid-feedback">
            Valid last name is required.
          </div>
        </div>
      </div>
      <div class="mb-3">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" [(ngModel)]="cart.email" placeholder="you@example.com">
        <div class="invalid-feedback">
          Please enter a valid email address for shipping updates.
        </div>
      </div>

      <div class="mb-3">
        <label for="address">Διεύθυνση</label>
        <input type="text" class="form-control" id="address" [(ngModel)]="cart.address" required>
        <div class="invalid-feedback">
          Please enter your shipping address.
        </div>
      </div>
      <div class="row">
        <div class="col-md-5 mb-3">
          <label for="country">Πόλη</label>
          <input type="text" class="form-control" id="city" [(ngModel)]="cart.city" required>
          <div class="invalid-feedback">
            Please select a valid country.
          </div>
        </div>
        <div class="col-md-4 mb-3">
          <label for="state">Περιοχή</label>
          <input type="text" class="form-control" id="state" [(ngModel)]="cart.state" required>
          <div class="invalid-feedback">
            Please provide a valid state.
          </div>
        </div>
        <div class="col-md-3 mb-3">
          <label for="zip">ΤΚ</label>
          <input type="text" class="form-control" id="zip" [(ngModel)]="cart.zipCode" required>
          <div class="invalid-feedback">
            Zip code required.
          </div>
        </div>
      </div>
      <hr class="mb-4">
      <h4 class="mb-3">Πληρωμή</h4>
      <div class="d-block my-3">
        <div class="custom-control custom-radio">
          <input id="credit" name="paymentMethod" type="radio" class="custom-control-input" checked required>
          <label class="custom-control-label" for="credit">Αντικαταβολή </label>
        </div>
        <div class="custom-control custom-radio">
          <input id="paypal" name="paymentMethod" type="radio" class="custom-control-input" required>
          <label class="custom-control-label" for="paypal">PayPal</label>
        </div>
      </div>
      <hr class="mb-4">
      <button class="btn btn-success btn-lg btn-block mb-3" (click)="nextStep()">Συνέχεια προς Πληρωμή</button>
    </div>
  </div>
</div>
<app-footer></app-footer>