<app-navbar></app-navbar>

<app-checkout-steps [step]="2"></app-checkout-steps>
<div class="container mt-4 mb-5">
  <div class="row text-dark bg-white pt-3">
    <div class="col-md-4 order-md-2 mb-4">
      <h4 class="d-flex justify-content-between align-items-center mb-3">
        <span class="h4">Το καλάθι σας</span>
        <span class="badge badge-warning badge-pill">{{cart.length}}</span>
      </h4>
      <ul class="list-group mb-3">
        <li class="list-group-item d-flex justify-content-between  lh-condensed" *ngFor="let it of cart">
          <div>
            <h6 class="my-0">{{it.product.title}}</h6>
            <small class="text-muted">{{it.product.material}}</small>
          </div>
          <span class="">{{it.quantity}} x {{it.product.totalCost}} &euro;</span>
        </li>
        <li class="list-group-item  d-flex justify-content-between" *ngIf="!order.isPickUp">
          <div>
          <p class="mb-0">Έξοδα αποστολής</p>
          <small class="text-muted">(χρέωση για όλη την ελλάδα)</small>
        </div>
          <strong>3 &euro;</strong>
        </li>
        <li class="list-group-item  d-flex justify-content-between">
          <span>Σύνολο (EURO)</span>
          <strong>{{totalOfItems()}} &euro;</strong>
        </li>
        <li class="list-group-item d-flex">
          <button class="btn btn-warning btn-block" [routerLink]="['/cart']">Πίσω στο καλάθι</button>
        </li>
      </ul>
    </div>
    <div class="col-md-8 order-md-1 text-dark">
      <h4 class="mb-3">Διεύθυνση Χρέωσης</h4>
      <div class="row">
        <div class="col-md-6 mb-3">
          <label for="firstName">Όνομα *</label>
          <input type="text" class="form-control" id="firstName" [(ngModel)]="order.firstName" required>
          <div class="invalid-feedback">
            Valid first name is required.
          </div>
        </div>
        <div class="col-md-6 mb-3">
          <label for="lastName">Επίθετο *</label>
          <input type="text" class="form-control" id="lastName" [(ngModel)]="order.lastName" required>
          <div class="invalid-feedback">
            Valid last name is required.
          </div>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-md-6">
          <label for="email">Email *</label>
          <input type="email" class="form-control" id="email" [(ngModel)]="order.email" placeholder="you@example.com">
          <div class="invalid-feedback">
            Please enter a valid email address for shipping updates.
          </div>
        </div>
        <div class="col-md-6">
          <label for="email">Τηλέφωνο *</label>
          <input type="text" class="form-control" id="mobile" [(ngModel)]="order.mobile">
          <div class="invalid-feedback">
            Please enter a valid email address for shipping updates.
          </div>
        </div>
      </div>

      <div class="mb-3">
        <label for="address">Διεύθυνση *</label>
        <input type="text" class="form-control" id="address" [(ngModel)]="order.address" required>
        <div class="invalid-feedback">
          Please enter your shipping address.
        </div>
      </div>
      <div class="row">
        <div class="col-md-5 mb-3">
          <label for="country">Πόλη *</label>
          <input type="text" class="form-control" id="city" [(ngModel)]="order.city" required>
          <div class="invalid-feedback">
            Please select a valid country.
          </div>
        </div>
        <div class="col-md-4 mb-3">
          <label for="state">Περιοχή *</label>
          <input type="text" class="form-control" id="state" [(ngModel)]="order.area" required>
          <div class="invalid-feedback">
            Please provide a valid state.
          </div>
        </div>
        <div class="col-md-3 mb-3">
          <label for="zip">ΤΚ *</label>
          <input type="text" class="form-control" id="zip" [(ngModel)]="order.postalCode" required>
          <div class="invalid-feedback">
            Zip code required.
          </div>
        </div>
      </div>
      <hr class="bg-white">
      <h4 class="mb-3">Αποστολή</h4>
      <div class="d-block my-3">
        <div class="custom-control custom-radio mb-2">
          <input [checked]="checkShippmanet(true)" type="radio" class="custom-control-input" required>
          <label class="custom-control-label" (click)="order.isPickUp = true;order.paymentMethod = 0" for="credit">Παραλαβή
            από το κατάστημα
          </label>
        </div>
        <div class="form-group input-group-md col-md-6 pl-0" *ngIf="order.isPickUp">
          <select name="category" class="form-control" [(ngModel)]="order.store">
            <option [value]="item.title" *ngFor="let item of stores">{{item.title}}</option>
          </select>
        </div>
        <div class="custom-control custom-radio">
          <input [checked]="checkShippmanet(false)" type="radio" class="custom-control-input" required>
          <label class="custom-control-label" (click)="order.isPickUp = false" for="paypal">
            <p class="mb-0"> Αποστολή στην παραπάνω διεύθυνση</p>
            <p class="mb-0" *ngIf="!order.isPickUp"><small>(Η παραγγελία σας θα επιβαρυνθεί με επιπλέον 3 &euro; για
                αποστολή εντός ελλάδος)</small></p>
          </label>
        </div>
      </div>
      <hr class="bg-white">
      <h4 class="mb-3">Σχόλια Παραγγελίας</h4>
      <div class="form-group">
        <textarea class="form-control" [(ngModel)]="order.comments" rows="3"></textarea>
      </div>
      <hr class="bg-white">
      <h4 class="mb-3">Πληρωμή</h4>
      <div class="d-block my-3">
        <div class="custom-control custom-radio">
          <input [checked]="checkPaymentMethod(0)" type="radio" class="custom-control-input" required>
          <label class="custom-control-label" (click)="order.paymentMethod = 0" for="credit">Αντικαταβολή </label>
        </div>
        <div class="custom-control custom-radio" *ngIf="!order.isPickUp">
          <input [checked]="checkPaymentMethod(1)" type="radio" class="custom-control-input" required>
          <label class="custom-control-label" (click)="order.paymentMethod = 1" for="paypal">PayPal</label>

        </div>
        <br>
        <h6 class="mb-0" *ngIf="order.isPickUp">(H πληρωμή με Paypal δεν είναι διαθέσιμη για παραλαβή απο το κατάστημα) </h6>
      </div>
      <hr class="bg-white">
      <p>* Υποχρεωτικά πεδία</p>
      <button class="btn btn-warning btn-lg btn-block mb-3" (click)="nextStep()">Συνέχεια προς Πληρωμή</button>
    </div>
  </div>
</div>
<app-footer></app-footer>