
<ngx-spinner
bdColor = "rgba(253,253,253,0.8)"
size = "large"
color = "#000000"
type = "line-scale-party"
></ngx-spinner>
<div class="container mt-5">
  <h2 class="text-center">Εισαγωγή Προϊόντος</h2>
  <hr>
  <div class="card border-primary mb-3">
    <div class="card-header">Πληροφορίες Προϊόντος</div>
    <div class="card-body">
      <form #editForm="ngForm" id="editForm">
        <div class="row">
          <div class="form-group col-md-2">
            <h4>Κατηγορία Προϊόντος</h4>
            <select name="category" class="form-control" id="exampleSelect1" [(ngModel)]="product.category">
              <option>Πουκάμισο</option>
              <option>Παπιγιόν</option>
              <option>Γιλέκο</option>
              <option>Κασκόλ</option>
              <option>Ζακέτα</option>
              <option>Πουλόβερ</option>
              <option>Καζάκα</option>
              <option>Μανικετόκουμπα</option>
              <option>Φουλάρι</option>
              <option>Ζώνη</option>
              <option>Γραβάτα</option>
              <option>Clip Γραβάτας</option>
              <option>Τιράντα</option>
              <option>Καπέλο</option>
              <option>Σκουφάκι</option>
              <option>Τ-Shirt</option>
            </select>
          </div>
          <div class="col-md-3">
            <h4>Seo Url</h4>
            <input name="seoUrl" class="form-control" [(ngModel)]="product.seoUrl">
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-3">
            <h4>Όνομα Προϊόντος</h4>
            <input name="title" class="form-control" [(ngModel)]="product.title">
          </div>
          <div class="col-md-3">
            <h4>Σύνθεση</h4>
            <select name="material" class="form-control" id="exampleSelect1" [(ngModel)]="product.material">
                <option selected=""></option>
                <option *ngFor="let mat of materialArray" value="{{mat.materialTitle}}">{{mat.materialTitle}}</option>
          
            </select>
          </div>
          <div class="col-md-3">
            <h4>Κωδικός</h4>
            <input name="code" class="form-control" [(ngModel)]="product.code">
          </div>
          <div class="col-md-3" *ngIf="product.category == 'Πουκάμισο'">
            <h4>Μανίκι</h4>
            <select name="sleeve" class="form-control" id="exampleSelect1" [(ngModel)]="product.sleeve">
              <option value=""></option>
              <option>Κοντομάνικο</option>
              <option>Μακρυμάνικο</option>
            </select>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-3">
            <h4>Περίοδος</h4>
            <select name="season" class="form-control" id="exampleSelect1" [(ngModel)]="product.season">
              <option value=""></option>
              <option>Autumn/Winter</option>
              <option>Spring/Summer</option>
            </select>
          </div>
          <div class="col-md-3" *ngIf="product.category == 'Πουκάμισο'">
            <h4>Γραμμή</h4>
            <select name="line" class="form-control" id="exampleSelect1" [(ngModel)]="product.line">
              <option value=""></option>
              <option>Slim-Fit</option>
              <option>Regular-Fit</option>
            </select>
          </div>
          <div class="col-md-3">
            <div class="row">
              <div class="col-md-6">
                <h4>Τιμή</h4>
                <input name="price" class="form-control" [(ngModel)]="product.price" placeholder="€" type="number" min="1">
              </div>
              <div class="col-md-6">
                <h4>Έκπτωση</h4>
                <input name="discount" class="form-control" [(ngModel)]="product.discount" placeholder="€" type="number" min="0">
              </div>

            </div>
          </div>
          <div class="col-md-3">
            <h4>Κατάσταση</h4>
            <select name="active" class="form-control" id="exampleSelect1" [(ngModel)]="product.active">
              <option>Ενεργοποιημένο</option>
              <option>Απενεργοποιημένο</option>
            </select>
          </div>
        </div>
        <br>

        <div class="row">
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-6">
                <h4>Σχέδιο</h4>
                <select name="design" class="form-control" id="exampleSelect1" [(ngModel)]="product.design">
                  <option value=""></option>
                  <option>Μονόχρωμο</option>
                  <option>Ριγέ</option>
                  <option>Καρό</option>
                  <option>Μικροσχέδιο</option>
                  <option>Εμπριμέ</option>
                </select>
              </div>
              <div class="col-md-6">
                <h4>Απόθεμα</h4>
                <input name="quantity" class="form-control" [(ngModel)]="product.quantity">
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <br>
            <button type="button" class="btn btn-primary btn-block" (click)="openModal(template)">Εισαγωγή
              Μεγέθη/Ποσότητα</button>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-6">
            <h4>Περιγραφή</h4>
            <textarea name="description" class="form-control" [(ngModel)]="product.description" value="Ενεργοποιημένο"
              style="height:100px;"></textarea>
          </div>
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-12 " *ngFor="let s of product.productSizes; let i = index">
                <ul class="list-group">
                  <li class="list-group-item">{{s.size.title}} -
                    {{s.productSizeColor.length + ' Χρώματα'}}
                    <div class="pull-right">
                      <button type="button" class="btn-outline-danger ml-1 btn-sm" (click)="deleteCurSize(i)"><i class="fa fa-times"></i></button>
                      <button type="button" (click)="editSize(s,template)" class="btn-outline-warning btn-sm ml-2"><i
                          class="fa fa-edit"></i></button>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <br>
        <button (click)="saveProduct()" class="btn btn-primary" [disabled]="!product.price">Αποθήκευση</button>
      </form>
    </div>
  </div>
</div>

<ng-template #template>
  <div class="modal-header text-dark">
    <h4 class="modal-title pull-left">Μεγέθη & Ποσότητες</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body text-dark">
    <div class="row">
      <div class="col-md-4">
        <h4>Μέγεθος</h4>
        <select class="form-control" id="title" name="sizeId" [(ngModel)]="productSize.sizeId">
          <option *ngFor="let s of sizes" value="{{s.id}}">{{s.title}}</option>
        </select>
      </div>
      <div class="col-md-4">
        <h4>Χρώμα</h4>

        <select class="form-control" id="title" name="colorId" [(ngModel)]="productSizeColor.colorId">
          <option *ngFor="let col of colors" value="{{col.id}}">{{col.title}}</option>
        </select>

      </div>
      <div class="col-md-4">
        <h4>Απόθεμα</h4>
        <input name="count" class="form-control" type="number" [(ngModel)]="productSizeColor.count">
      </div>
    </div>
    <br>
    <button (click)="addColor()" (keyup.enter)="addColor()" class="btn btn-primary" [disabled]="!productSizeColor.colorId && !productSizeColor.colorId">Προσθήκη</button>
    <br>
    <div class="row">

      <div class="col-md-6" *ngFor="let pcl of productSize.productSizeColor">
        <br>
        <ul class="list-group">
          <li class="list-group-item" (dblclick)="deleteEntity(pcl.color.id)" style.background-color="{{pcl.color.rgb}}">{{pcl.color.title}}
            -
            {{pcl.count}} τεμ.</li>
        </ul>
      </div>
    </div>
  </div>
  <button (click)="addSize()" class="btn btn-primary" [disabled]="!productSize.sizeId && !productSizeColor.colorId">Προσθήκη
    Μεγέθους</button>
</ng-template>