h4{
    text-transform: none;
    font-size:14px;
}


form{
    padding: 30px;
}

input ,select, textarea{
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
}

li{
    cursor: pointer;
}