<div class="row">

    <div class="form-group col-lg-4 col-md-4">
        <h4>μέγεθος</h4>
        <input name="title" rows="6" class="form-control" [(ngModel)]="size.title">
    </div>
    <button class="btn btn-primary" (click)="addSize()">Add size
    </button>
    <div class="form-group col-lg-4 col-md-4">
        <h4>Χρώμα</h4>
        <input name="title" rows="6" class="form-control" [(ngModel)]="color.title">
    </div>
    <button class="btn btn-primary" (click)="addColor()">Add color
        
    </button>
</div>