<div class="container">
    <div class="row mt-4">
        <div class="col-md-6">
            <div class="form-group">
                <label for="exampleInputEmail1">Προσθήκη Μεγέθους</label>
                <input name="title" class="form-control" [(ngModel)]="size.title">

                <button class="btn btn-primary" (click)="addSize()">Add Size
                </button>

            </div>

        </div>


        <div class="col-md-6">
            <div class="form-group ml-3">
                <label for="exampleInputEmail1">Προσθήκη Χρωμάτων</label>
                <input name="title" class="form-control" [(ngModel)]="colorNew.title">
                <label for="exampleInputEmail1">Προσθήκη Κωδικού</label>
                <input name="title" class="form-control" [(ngModel)]="colorNew.rgb">
                <br>
                <button class="btn btn-primary mr-5" (click)="addOrUpdateColor()" [disabled]="!colorNew.title || !colorNew.rgb">{{colorNew.id
                    ? "Αποθήκευση":"Καταχώρηση Χρώματος"}} </button>
                <input [value]="color" [style.background]="color" [(colorPicker)]="color" class="" />
            </div>
            <a href="http://www.digitalnews.gr/8119/%CE%BA%CF%89%CE%B4%CE%B9%CE%BA%CE%BF%CE%AF-%CF%87%CF%81%CF%89%CE%BC%CE%AC%CF%84%CF%89%CE%BD-html-rgb" target="_blank">Κωδικοί χρωμάτων HTML RGB</a>
        </div>
    </div>
    <hr>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">ΧΡΩΜΑ</th>
                <th scope="col">ΚΩΔΙΚΟΣ</th>
                <th scope="col">ΕΝΕΡΓΕΙΕΣ</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let color of totalColors; let i= index" style.background-color="{{color.rgb}}">
                <th scope="row">{{i + 1}}</th>
                <td class="font-weight-bold">{{color.title}}</td>
                <td class="font-weight-bold">{{color.rgb}}</td>
                <td style="background-color:white; width:100px">
                    <button type="button" class="btn-outline-danger ml-1 btn-sm" (click)="deleteColor(color.id)"><i
                            class="fa fa-times"></i></button>
                    <button type="button" (click)="editColor(i)" class="btn-outline-warning btn-sm ml-2"><i class="fa fa-edit"></i></button></td>
            </tr>

        </tbody>

    </table>


    <div class="d-flex justify-content-center">
        <pagination [boundaryLinks]="true" [totalItems]="pagination.totalItems" [itemsPerPage]="pagination.itemsPerPage"
            [(ngModel)]="pagination.currentPage" (pageChanged)="pageChanged($event)" previousText="&lsaquo;" nextText="&rsaquo;"
            firstText="&laquo;" lastText="&raquo;">

        </pagination>
    </div>
</div>