<nav class="navbar navbar-expand-lg navbar-dark sticky-top">
  <a class="navbar-brand animated fadeInDown" [routerLink]="['/']">
    <!-- <img src="../../assets/images/new_logo1.jpg" alt="" style="height:70px"> -->
    <h1 class="text-white display-4" style="font-family:serif">dāsh&dot.</h1>
    </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item dropdown  mt-5">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          Πουκάμισα
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item " [routerLink]="['/shirts/','slim-fit']">Slim
            Fit</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item " [routerLink]="['/shirts/','regular-fit']">Regular
            Fit</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item ">ΜΕΓΕΘΟΛΟΓΙΟ</a>
        </div>
      </li>
      <li class="nav-item dropdown  mt-5">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          Αξεσουάρ
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown ">

          <a class="dropdown-item " [routerLink]="['/accessories','bow-tie']">Παπιγιόν</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item " [routerLink]="['/accessories','cuff-links']">Μανικετόκουμπα</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item " [routerLink]="['/accessories','ties']">Γραβάτες</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item " [routerLink]="['/accessories','ties-clip']">Κλιπ
            Γραβάτας</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item " [routerLink]="['/accessories','beanies']">Σκουφάκια</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item " [routerLink]="['/accessories','scarfs']">Φουλάρια</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item " [routerLink]="['/accessories','belts']">Ζώνες</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item " [routerLink]="['/accessories','suspenders']">Τιράντες</a>
        </div>


      </li>
      <li class="nav-item dropdown  mt-5">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          Πλεκτά
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item " [routerLink]="['/knitt-wear','cardigans']">Ζακέτες</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item " [routerLink]="['/knitt-wear', 'sweaters']">Πουλόβερ</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item " [routerLink]="['/knitt-wear','sweater-Vests']">Καζάκα</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item " [routerLink]="['/knitt-wear', 'vests']">Γιλέκα</a>
        </div>
      </li>

      <li class="nav-item dropdown  mt-5">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          dāsh&dot's World
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item " href="#">Blog news</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item " href="#">Social media</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item " href="#">Eπώνυμοι</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item " href="#">Στυλιστικός οδηγός</a>
        </div>
      </li>
      <li class="nav-item dropdown  mt-5">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          Καταστήματα
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item " href="#">Νέες παραλαβές</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item " href="#">Νέες προσφορές</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item " [routerLink]="['/stores']">Ωράρια καταστημάτων</a>
        </div>
      </li>
      <li class="nav-item dropdown  mt-5">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          Χονδρική
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item " href="#">Τιμές Χονδρικής</a>
        </div>
      </li>


    </ul>
    <div class="p-0" style="list-style-type: none;">
      <div class="row ">
        <li class="nav-item dropdown" *ngIf="!loggedIn()">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" [routerLink]="['/login']"
            aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-user mr-1"></i>Ο
            λογαριασμός
            μου
          </a>
        </li>
        <li class="nav-item dropdown" *ngIf="loggedIn()">

          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            <i class="fa fa-user"></i>
            Καλωσήρθες {{ authService.decodedToken?.firstname | titlecase}}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item">
              <i class="fa fa-barcode mr-1"></i>Οι παραγγελίες μου</a>
            <a class="dropdown-item">
              <i class="fa fa-heart mr-1"></i>Τα αγαπημένα μου</a>
            <a class="dropdown-item" *ngIf="isAdmin && loggedIn()" [routerLink]="['/admin/main']">
              <i class="fa fa-user-secret mr-1" aria-hidden="true"></i>Admin Page</a>
            <a class="dropdown-item" [routerLink]="['/account']"  >
              <i class="fa fa-user mr-1" aria-hidden="true"></i>O λογαριασμός μου</a>
            <div class="dropdown-divider "></div>
            <a class="dropdown-item" (click)="logout()">
              <i class="fa fa-sign-out"></i>Έξοδος</a>
          </div>
        </li>
        <li class="nav-item dropdown">

          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            <i class="fa fa-shopping-bag "></i>
            {{cartItems.items.length}} Προϊόντα
         
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" [routerLink]="['/cart']">Προβολή Καλαθιού</a>
            <a class="dropdown-item">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item">Something else here</a>
          </div>
        </li>


      </div>
    </div>
  </div>
</nav>