<app-navbar></app-navbar>


<div class="container mt-5">
  <div class="card border-warning mb-3 ">
    <div class="card-header">ΠΛΗΡΟΦΟΡΙΕΣ ΛΟΓΑΡΙΑΣΜΟΥ</div>
    <form #f="ngForm" (ngSubmit)="updateUser(f.value)" class="form my-2">
      <div class="card-body justify-content-center">

        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="col-form-label" for="inputDefault">Όνομα *</label>
              <input type="text" class="form-control" placeholder="" required [(ngModel)]="user.firstName" name="firstName"
                #firstName="ngModel">
              <div class="alert alert-danger" *ngIf="firstName.touched && firstName.invalid">
                Εισάγετε όνομα.
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="col-form-label" for="inputDefault">Επίθετο *</label>
              <input type="text" class="form-control" placeholder="" required [(ngModel)]="user.lastName" name="lastName"
                #lastName="ngModel">
              <div class="alert alert-danger" *ngIf="lastName.touched && lastName.invalid">
                Εισάγετε επίθετο.
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-form-label" for="inputDefault">E-mail *</label>
          <input type="email" class="form-control" placeholder="" email [(ngModel)]="user.email" name="email" #email="ngModel">
          <div class="alert alert-danger" *ngIf="email.touched && email.invalid">
            Εισάγετε έγκυρο email.
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label class="col-form-label" for="inputDefault">Διεύθυνση</label>
              <input type="text" class="form-control" placeholder="" [(ngModel)]="user.address" name="address" #address="ngModel">
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label class="col-form-label" for="inputDefault">Τ.Κ.</label>
              <input type="text" class="form-control" placeholder="" [(ngModel)]="user.postalCode" name="postalCode"
                #postalCode="ngModel">
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label class="col-form-label" for="inputDefault">Κινητό</label>
              <input type="text" class="form-control" placeholder="" [(ngModel)]="user.mobile" name="mobile" #mobile="ngModel">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="col-form-label" for="inputDefault">Πόλη</label>
              <input type="text" class="form-control" placeholder="" [(ngModel)]="user.city" name="city" #city="ngModel">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="col-form-label" for="inputDefault">Περιοχή</label>
              <input type="text" class="form-control" placeholder="" [(ngModel)]="user.area" name="area" #area="ngModel">
            </div>
          </div>
        </div>
        <p>*Υποχρεωτικά πεδία</p>
      </div>
        <div class="container w-50">
          <button class="btn btn-warning mr-1 btn-block" type="submit" [disabled]="f.invalid">Αποθήκευση</button>
          <button class="btn btn-secondary btn-block" [routerLink]="['/home']">Ακύρωση</button>
      </div>
    </form>

    <div class="container w-75" *ngIf="save">
      <div class="alert alert-dismissible alert-success ">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        Αποθηκεύτηκαν τα στοιχεία σας.
      </div>
    </div>
    <div class="container w-75" *ngIf="saveError">
      <div class="alert alert-dismissible alert-success ">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        Υπήρξε πρόβλημα. Δοκιμάστε πάλι αργότερα.
      </div>
    </div>


    <br>

  </div>

</div>

<app-footer></app-footer>