<app-navbar></app-navbar>
<app-checkout-steps [step]="3"></app-checkout-steps>
<div class="container mt-4">
  <div class="row bg-white py-3">
    <div class="col-md-8 ">
      <h4 class="mb-3  text-dark">Στοιχεία Χρέωσης</h4>
      <ul class="list-group mb-3">
        <li class="list-group-item d-flex justify-content-between">
          <div>
            <h6 class="text-dark">Ονοματεπώνυμο</h6>
          </div>
          <span class="text-warning">{{order.firstName}} {{order.lastName}}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between ">
          <div>
            <h6 class="text-dark">Email</h6>
          </div>
          <span class="text-warning">{{order.email}}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between ">
          <div>
            <h6 class="text-dark">Διεύθυνση</h6>
          </div>
          <span class="text-warning">{{order.address}}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between ">
          <div>
            <h6 class="text-dark">Πόλη</h6>
          </div>
          <span class="text-warning">{{order.city}}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between ">
          <div>
            <h6 class="text-dark">Περιοχή</h6>
          </div>
          <span class="text-warning">{{order.area}} {{order.postalCode}}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between ">
          <div>
            <h6 class="text-dark">Τηλέφωνο</h6>
          </div>
          <span class="text-warning">{{order.mobile}}</span>
        </li>
        <li class="list-group-item d-flex ">
          <button class="btn text-warning btn-link" [routerLink]="['/checkout']">Πίσω στα στοιχεία πληρωμής</button>
        </li>
      </ul>
      <hr class="bg-white">
      <h4 class="mb-3">Στοιχεία Αποστολής</h4>
      <p class="text-warning"> {{order.isPickUp ? 'Παραλαβή απο το ' + order.store : 'Αποστολή στον χώρο σας στην
        παραπάνω διεύθυνση'}} </p>
      <hr class="bg-white">
      <h4 class="mb-3">Σχόλια Παραγγελίας</h4>
      <p class="text-warning"> {{order.comments}} </p>
      <hr class="bg-white">
      <h4 class="mb-3">Τρόπος Πληρωμής</h4>
      <p class="text-warning"> {{ order.paymentMethod === 1 ? paypalText() : codText()}} </p>
      <div id="paypal-button-container" *ngIf="order.paymentMethod === 1 "></div>
    
      <button  class="btn btn-warning" (click)="finalizeOrder()" *ngIf="order.paymentMethod === 0" [disabled]="gdp==false">Επιβεβαίωση και
        ολοκλήρωση</button>
     
    </div>
    <div class="col-md-4">
      <h4 class="mb-3 text-dark">Στοιχεία Πληρωμής</h4>
      <ul class="list-group mb-3">
          <li class="list-group-item d-flex justify-content-between  lh-condensed" *ngFor="let it of cart">
            <div>
              <h6 class="my-0">{{it.product.title}}</h6>
              <small class="text-muted">{{it.product.material}}</small>
            </div>
            <span class="">{{it.quantity}} x {{it.product.totalCost}} &euro;</span>
          </li>
          <li class="list-group-item  d-flex justify-content-between" *ngIf="!order.isPickUp">
            <div>
            <p class="mb-0">Έξοδα αποστολής</p>
            <small class="text-muted">(χρέωση για όλη την ελλάδα)</small>
          </div>
            <strong>3 &euro;</strong>
          </li>
          <!-- <li class="list-group-item  d-flex justify-content-between text-warning">
            <span>* Έκπτωση</span>
            <strong>{{totalOfItems()}} &euro; (-20%)</strong>
          </li> -->
          <li class="list-group-item  d-flex justify-content-between">
            <span>Σύνολο (EURO)</span>
            <strong>{{totalOfItems()}} &euro; </strong>
          </li>
          <li class="list-group-item d-flex">
            <button class="btn btn-warning btn-block" [routerLink]="['/cart']">Πίσω στο καλάθι</button>
          </li>
          <!-- <small class="text-muted text-center">* Έκπτωση -20% σε όλες τις επόμενες παραγγελίες σας μέχρι τέλος Φεβρουαρίου</small> -->
        </ul>

      <!-- <ul class="list-group mb-3 bg-dark">
        <li class="list-group-item d-flex justify-content-between bg-dark">
          <div>
            <h6 class="text-white">Ποσότητα Προιόντων</h6>
          </div>
          <span class="text-warning">{{countProducts()}}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between bg-dark">
          <div>
            <h6 class="text-white">Συνολικό Κόστος</h6>
          </div>
          <span class="text-warning">{{totalOfItems()}} &euro;</span>
        </li>
        <li class="list-group-item d-flex bg-dark">
          <button class="btn btn-warning btn-block" [routerLink]="['/cart']">Πίσω στο καλάθι</button>
        </li>
      </ul> -->
    </div>
  </div>
</div>
<app-footer></app-footer>