<app-navbar></app-navbar>

<div class="container mt-5">
  <div class="card text-white bg-primary mb-3">
    <div class="card-header">ΕΞΥΠΗΡΕΤΗΣΗ ΠΕΛΑΤΩΝ</div>
    <div class="card-body">
      <h4 class="card-title text-warning">ΑΠΟΣΤΟΛΗ ΠΑΡΑΓΓΕΛΙΑΣ</h4>
      <p class="card-text">Courier: ΓΕΝΙΚΗ ΤΑΧΥΔΡΟΜΙΚΗ</p>
      <br>
      <p class="card-text">Χρόνος παράδοσης: 1-3 εργάσιμες ημέρες</p>
      <br>
      <p class="card-text">ΔΩΡΕΑΝ ΓΙΑ ΠΑΡΑΓΓΕΛΙΕΣ ΑΝΩ ΤΩΝ 25 ΕΥΡΩ_.</p>
      <hr>
      <div class="dropdown-divider"></div>
      <h4 class="card-title text-warning">ΑΛΛΑΓΕΣ/ΕΠΙΣΤΡΟΦΕΣ</h4>
      <p class="card-text">ΓΙΑ ΑΛΛΑΓΕΣ ΠΟΥΚΑΜΙΣΩΝ Η ΑΞΕΣΟΥΑΡ, ΜΑΣ ΣΤΕΛΝΕΤΕ ΜΗΝΥΜΑ EITE ΣΤΗΝ FACEBOOK ΣΕΛΙΔΑ ΜΑΣ (BL FB
        PAGE Dash&dot) ΕΙΤΕ ΣΤΟ EMAIL contact@dashndot.gr</p>
      <br>
      <p class="card-text">ΕΠΙΣΤΡΟΦΕΣ ΓΙΝΟΝΤΑΙ ΔΕΚΤΕΣ ΜΟΝΟ ΕΦΟΣΟΝ ΚΑΠΟΙΟ ΠΡΟΪΟΝ ΜΑΣ ΑΓΟΡΑΣΤΗΚΕ ΑΠΟΔΕΔΕΙΓΜΕΝΑ
        ΕΛΑΤΤΩΜΑΤΙΚΟ_.</p>
      <div class="dropdown-divider"></div>
      <br>
      <h4 class="card-title text-warning">ΟΔΗΓΟΣ ΜΕΓΕΘΩΝ</h4>
      <p class="card-text">ΠΑΡΑΚΑΛΟΥΜΕ ΕΠΙΚΟΙΝΩΝΗΣΤΕ ΜΑΣ ΑΝ ΧΡΕΙΑΖΕΣΤΕ ΕΠΙΠΛΕΟΝ ΒΟΗΘΕΙΑ ΓΙΑ ΝΑ ΒΡΕΙΤΕ ΤΟ ΝΟΥΜΕΡΟ ΣΑΣ</p>
      <br>
      <p class="card-text">♦Ρωτήστε μας μέσω της φόρμας επικοινωνίας, κάνοντας κλικ κάτω στην επιλογή ΕΠΙΚΟΙΝΩΝΙΑ!</p>
      <br>
      <p class="card-text">♥Ο πρώτος διαθέσιμος εκπρόσωπός μας θα σας καθοδηγήσει βήμα-βήμα προς τον σωστό τρόπο
        μέτρησης, για να εξασφαλίσουμε πως το καινούριο σας πουκάμισο θα εφαρμόζει άψογα στη γραμμή σας _.!</p>
      <br>
    </div>
  </div>
</div>


<app-footer></app-footer>