<ngx-spinner bdColor="rgba(253,253,253,0.8)" size="large" color="#000000" type="line-scale-party"></ngx-spinner>
<div class="c_product">
  <button type="button" class="btn btn-primary" aria-hidden="true" [routerLink]="['/admin/main/create-product']"><i
      class="fa fa-plus mr-2"></i>Προσθήκη
    Προϊόντος</button>
  <hr>
  <div class="row">
    <div class="col-md-12 col-lg-4 col-sm-12 text-center">
      <div class="" style="background-color:white;">
        <h3 class="card-header" style="text-transform: none;">{{product.title}}</h3>
        <h5 class="card-title">{{product.material}}</h5>
        <h6 class="card-title">Code: {{product.code}}</h6>
        <img class="d-flex d-none" src="{{product.photoUrl || '/../../../../assets/images/emptyimg.jpg'}}" alt="Card image cap">
      </div>
    </div>
    <div class="col-md-12 col-lg-8 col-sm-12 card">
      <h3 class="text-center card-header">Επεξεργασία Προϊόντος</h3>
      <br>
      <div class="tab-panel">
        <tabset class="member-tabset">
          <tab heading="Επεξεργασία Προιόντος">
            <form #editForm="ngForm" id="editForm" (ngSubmit)="updateProduct()">
              <div class="row mt-3">
                <div class="form-group col-md-3 ">
                  <h4>Κατηγορία</h4>
                  <select name="category" class="form-control" id="exampleSelect1" [(ngModel)]="product.category">
                    <option>Πουκάμισο</option>
                    <option>Παπιγιόν</option>
                    <option>Γιλέκο</option>
                    <option>Πλεκτό</option>
                    <option>Zακέτα</option>
                    <option>Πουλόβερ</option>
                    <option>Καζάκα</option>
                    <option>Μανικετόκουμπα</option>
                    <option>Φουλάρι</option>
                    <option>Ζώνη</option>
                    <option>Γραβάτα</option>
                    <option>Clip Γραβάτας</option>
                    <option>Τιράντα</option>
                    <option>Σκουφάκι</option>
                  </select>
                </div>
                <div class="col-md-6">
                  <h4>Seo Url</h4>
                  <input name="seoUrl" rows="6" class="form-control" [(ngModel)]="product.seoUrl">
                </div>
                <div class="col-md-3 ">
                  <h5>Τιμή: <span style="font-size:35px;"> {{product.price - product.discount | currency:'EUR':symbol}}
                    </span></h5>
                  <div class="form-group">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="customCheck1" name="suggested"
                        [(ngModel)]="product.suggested">
                      <label class="custom-control-label" for="customCheck1">Προτεινόμενο</label>
                    </div>
                  </div>


                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-md-4">
                  <h4>Όνομα Προϊόντος</h4>
                  <input name="title" rows="6" class="form-control" [(ngModel)]="product.title">
                </div>
                <div class="col-md-3">
                  <h4>Σύνθεση</h4>
                  <select name="material" class="form-control" id="exampleSelect1" [(ngModel)]="product.material">
                    <option value=""></option>
                    <option>100% Cotton</option>
                    <option>80% Cotton-20% Polyester</option>
                    <option>95% Cotton-5% Lycra</option>
                    <option>70% Cotton-30 Polyester</option>
                    <option>100% Linnen</option>
                    <option>100% Δέρμα</option>
                    <option>100% Polyester</option>
                    <option>Δερμάτινο</option>
                    <option>Ξύλινο</option>
                  </select>
                </div>
                <div class="col-md-2">
                  <h4>Κωδικός</h4>
                  <input name="code" rows="6" class="form-control" [(ngModel)]="product.code">
                </div>
                <div class="col-md-3" *ngIf="product.category == 'Πουκάμισο'">
                  <h4>Μανίκι</h4>
                  <select name="sleeve" class="form-control" id="exampleSelect1" [(ngModel)]="product.sleeve">
                    <option value=""></option>
                    <option>Κοντομάνικο</option>
                    <option>Μακρυμάνικο</option>
                  </select>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-md-3">
                  <h4>Περίοδος</h4>
                  <select name="season" class="form-control" id="exampleSelect1" [(ngModel)]="product.season">
                    <option value=""></option>
                    <option>Autumn/Winter</option>
                    <option>Spring/Summer</option>
                  </select>
                </div>
                <div class="col-md-2" *ngIf="product.category == 'Πουκάμισο'">
                  <h4>Γραμμή</h4>
                  <select name="line" class="form-control" id="exampleSelect1" [(ngModel)]="product.line">
                    <option value=""></option>
                    <option>Slim-Fit</option>
                    <option>Regular-Fit</option>
                  </select>
                </div>
                <div class="col-md-4">
                  <div class="row">
                    <div class="col-md-6">
                      <h4>Τιμή</h4>
                      <input name="price" class="form-control" [(ngModel)]="product.price" placeholder="€" type="number" min="1">
                    </div>
                    <div class="col-md-6">
                      <h4>Έκπτωση</h4>
                      <input name="discount" rows="6" class="form-control" [(ngModel)]="product.discount" placeholder="€" type="number" min="0">
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <h4>Κατάσταση</h4>
                  <select name="active" class="form-control" id="exampleSelect1" [(ngModel)]="product.active">
                    <option>Ενεργοποιημένο</option>
                    <option>Απενεργοποιημένο</option>
                  </select>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-md-6">
                  <div class="row">
                    <div class="col-md-6">
                      <h4>Σχέδιο</h4>
                      <select name="design" class="form-control" id="exampleSelect1" [(ngModel)]="product.design">
                        <option value=""></option>
                        <option>Μονόχρωμο</option>
                        <option>Ριγέ</option>
                        <option>Καρώ</option>
                        <option>Μικροσχέδιο</option>
                        <option>Εμπριμέ</option>
                      </select>
                    </div>
                    <div class="col-md-4">
                      <h4>Απόθεμα</h4>
                      <input name="quantity" rows="6" class="form-control" [(ngModel)]="product.quantity">
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <br>
                  <button type="button" class="btn btn-primary btn-block" (click)="openModal(template)">Εισαγωγή
                    Μεγέθη/Ποσότητα</button>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-md-6">
                  <h4>Περιγραφή</h4>
                  <textarea name="description" rows="6" class="form-control" [(ngModel)]="product.description" value="Ενεργοποιημένο"></textarea>
                </div>
                <div class="col-md-6">
                  <div class="row">
                    <div class="col-md-12" *ngFor="let s of (product.productSizes)">
                      <ul class="list-group">
                        <li class="list-group-item">{{s.size.title}} - {{s.size.id}}-
                          {{s.productSizeColor.length + ' Χρώματα'}}
                          <div class="pull-right">
                            <button type="button" class="btn-outline-danger ml-1 btn-sm" (click)="deleteCurSize(s.id)"><i
                                class="fa fa-times"></i></button>
                            <button type="button" (click)="editSize(s,template)" class="btn-outline-warning btn-sm ml-2"><i
                                class="fa fa-edit"></i></button>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <br>
            </form>
            <div class="btn-group">
              <button form="editForm" class="btn btn-dark mr-1 ">Αποθήκευση</button>
              <button class="btn btn-danger " (click)="deleteProduct(product.id)">Διαγραφή</button>
            </div>
          </tab>
          <tab heading="Φωτογραφίες">
            <app-photo-editor [photos]="product.photos" (getProductPhotoChange)="updateMainPhoto($event)"></app-photo-editor>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Μεγέθη & Ποσότητες</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-4">
        <h4>Μέγεθος</h4>
        <select class="form-control" id="title" name="sizeId" [(ngModel)]="productSize.sizeId" [disabled]="!disable">
          <option *ngFor="let s of sizes" value="{{s.id}}">{{s.title}}</option>
        </select>
      </div>
      <div class="col-md-4">
        <h4>Χρώμα</h4>
        <select class="form-control" id="title" name="colorId" [(ngModel)]="productSizeColor.colorId">
          <option *ngFor="let col of colors" value="{{col.id}}">{{col.title}}</option>
        </select>
      </div>
      <div class="col-md-4">
        <h4>Απόθεμα</h4>
        <input name="count" rows="6" class="form-control" type="number" [(ngModel)]="productSizeColor.count">
      </div>
    </div>
    <br>
    <button (click)="addColor()" [disabled]="!productSizeColor.colorId" class="btn btn-primary">Προσθήκη</button>
    <button (click)="modalRef.hide()" class="btn btn-primary ml-2" *ngIf="!disable">Αποθήκευση</button>
    <button (click)="modalRef.hide()" class="btn btn-danger ml-2" (click)="deleteSize(productSize.id)">Διαγραφή</button>

    <br>
    <div class="row">
      <br>
      <div class="col-md-6 mt-3" *ngFor="let pcl of productSize.productSizeColor">
        <ul class="list-group">
          <li class="list-group-item" (dblclick)="deleteEntity(pcl.color.id)" style.background-color="{{pcl.color.rgb}}">{{pcl.color.title}}
            - {{pcl.count}} τεμ.
            <button class="btn btn-danger pull-right" (click)="deleteColor(pcl.id)" data-toggle="tooltip"
              data-placement="right" title="Διαγραφή Χρώματος"><i class="fa fa-times"></i></button>
          </li>
        </ul>

      </div>
    </div>
  </div>
  <button (click)="addSize()" class="btn btn-primary" *ngIf="disable">Προσθήκη Μεγέθους</button>
</ng-template>