/* .card-body>img {
    height: 30rem;
    display: block;


} */

.img-responsive{
    width: 20rem;
    height: 30rem;
    margin-left: auto;
    margin-right: auto;
}
.photosArray {
    height: 80px;
}

slide/deep/img {
    height: 45rem;
    width: 50rem;
}

option>h5 {
    width: 30px;
    height: 30px;
}

@media only screen and (max-width: 990px) {
    slide/deep/img {
        max-height: 40rem;
        max-width: 40rem;
    }
}

@media only screen and (min-width: 360px) and (max-width:600px) {
    slide/deep/img {
        max-height: 25rem;
        max-width: 25rem;
    }
    .modal-dialog {
        margin-top: 100px;
    }
    .col-sm-12>img {
        max-height: 20rem;
        max-width: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .modalImg>img {
        max-height: 28rem;
        width: 20rem;
    }
}

@media only screen and (max-width:1200px) {
    .card-title{
        display:grid;
    }
}


.price {
    font-size: 32px;
}

.discount {
    text-decoration: line-through;
    font-size: 17px;
}

.product-options {
    margin-top: 300px;
}

.product-options>button>img {
    height: 30px;
}

.product-options>button, .bg-white {
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.25), 0 5px 4px rgba(0, 0, 0, 0.22);
}

.text-center>img {
    cursor: pointer;
    outline: none;   
}

.text-center>a {
    text-decoration: none;
}

h2 {
    font-family: cursive;
}

.btn-primary {
    background-image: linear-gradient(#af8a4e, rgb(247, 178, 88));
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.btn-primary:hover {
    background-image: linear-gradient(rgb(247, 178, 88), #af8a4e);
    color: rgb(255, 255, 255);
}

.form-inline label {
    justify-content: start;
    padding-left: 0 !important
}

.bg-white{
    border-radius: 15px;
    color:black;
}

.vl:not(:first-child) {
    border-left: 10px solid rgb(109, 109, 109);
    height: 130vh;
}
/* .row{
    display: -webkit-box
} */