<app-navbar></app-navbar>
<div class="container">


  <ol class="breadcrumb mt-5">
    <li class="breadcrumb-item"><a href="#">Ανδρικά πουκάμισα</a></li>
    <li class="breadcrumb-item"><a href="#">Slim fit</a></li>
    <li class="breadcrumb-item active">Πουκάμισο με σχέδιο</li>
  </ol>

  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12">
      <img  [imageZoom]="zoomedImageSrc" src="{{product.photoUrl}}">
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
      <div class="card border-light mb-3" style="max-width: 100;">
        <div class="card-header font-weight-bold">ΠΟΥΚΑΜΙΣΟ ΜΕ ΣΧΕΔΙΟ</div>
        <div class="card-body">
          <h5 class="text-dark" ><strong>Κατασκευαστής:</strong><a [routerLink]="['/home']">
              dāsh&dot_.</a></h5>
          <h5 class="text-dark" ><strong>Κωδικός προϊόντος:</strong> {{product.code}}</h5>
          <h5 class="text-dark" ><strong>Διαθεσιμότητα:</strong><button type="text" class="btn btn-success static"
              disabled>Διαθέσιμο</button></h5>
          <hr>


          <h4 class="card-title">Τιμή: <span class="font-weight-bold text-dark">{{product.price | currency:'EUR':symbol}}</span></h4>
          <hr>
          <h6 class="card-text">Επιλογές</h6>

          <div class="form-group">
            <h6>Eπέλεξε Μέγεθος: </h6>
            <select class="custom-select" name="sizeId" #size (change)="onChange(size.value)">
              <option selected=""></option>
              <option *ngFor="let s of sizes" value="{{s.sizeId}}">{{s.size.title}}</option>
             
            </select>
          </div>
          <div class="form-group" >
            <h6>Επέλεξε Χρώμα: </h6>
          
            <select class="custom-select" placeholder="dialekse">
              <option  selected=""></option>
              <option *ngFor="let col of productSize.productSizeColor" value="{{col.color.title}}">{{col.color.title}}</option>
            </select>
            <button type="button" class="btn btn-info pull-right btn-sm">Μεγεθολόγιο</button>
          </div>
          <hr>
          <div class="form-group">
            <label for="exampleInputEmail1"><strong>Ποσότητα: </strong></label>
            <input type="number" min="0" class="quantity text-center ml-2" placeholder="0">
            <button type="button" class="btn btn-primary ml-3"><i class="fa fa-shopping-basket"></i>Προσθήκη στο Καλάθι</button>

            <div class="icons ml-4">
              <span> <i class="fa fa-thumbs-up"></i> <a href="www.facebook.com">facebook</a></span>
              <span> <i class="fa fa-heart"></i> <a href="www.facebook.com">Instagram</a></span>
            </div>


          </div>

          <hr>
        </div>
      </div>
    </div>
  </div>


  <div class="card border-light mb-3" style="max-width:100%">
      <div class="card-header">Περιγραφή</div>
      <div class="card-body">
        <h4 class="card-title">Συνθεση 100% βαμβακι _.</h4>
        <p class="card-text">Για να διατηρήσετε το αγαπημένο σας dash&dot πουκάμισο σε άριστη κατάσταση, να προτιμάτε χλιαρό νερό, πλύσιμο στο χέρι και πάντα να ακολουθείτε τις οδηγίες πλυσίματος που αναγράφονται στην ετικέτα φροντίδας.</p>
      </div>
    </div>
</div>
<app-footer></app-footer>