<app-navbar></app-navbar>
<div class="container">

  <div class="row mt-5 ">
    <div class="col-md-6">
        <div class="card  text-white bg-secondary mb-3 " style="max-width: 50rem;">
            <h2 class="card-header">dāsh&dot.</h2>
            <div class="card-body">
              <h4 class="card-title">H dāsh&dot. δημιουργήθηκε για να καλύψει τις στιλιστικές ανάγκες του σύγχρονου άνδρα_.
                Με πείρα πολλών ετών στην υποκαμισοποϊία, οι εμπνευστές της,
                θέλησαν να δώσουν μία νέα διάσταση στο πιο βασικό ίσως κομμάτι της σύγχρονης ανδρικής ντουλάπας, μετά το τζιν
                παντελόνι.
                Το πουκάμισο έχει κατακτήσει την κορυφή της ανδρικής ενδυματολογικής πυραμίδας τα τελευταία χρόνια, κυρίως
                εξαιτίας της χρηστικότητάς του:
                Φοριέται όλες τις ώρες -ανάλογα με το υλικό του- σε όλες τις περιστάσεις -ανάλογα με το design- και συνδυάζεται
                εύκολα.
                Όντας ένα ιδιαιτέρως πολυμορφικό και ευέλικτο ένδυμα, δίκαια θα μπορούσαμε ίσως να το χαρακτηρίσουμε ως ένα από
                τα κυρίαρχα κομμάτια της μοντέρνας δυτικής ενδυματολογικής κουλτούρας.</h4>
            </div>
          </div>
    </div>
    <div class="col-md-6">
      <img src="../../../assets/images/banner4.jpg" alt="">
    </div>
  </div>

</div>
<app-footer></app-footer>