<app-navbar></app-navbar>
<div class="container mt-5">
  <div class="card text-white border-warning mb-3">
    <div class="card-header text-dark">ΠΡΟΣΩΠΙΚΑ ΔΕΔΟΜΕΝΑ</div>
    <div class="card-body text-dark">
      <h5 class="card-text">Η Ελληνική Εταιρεία Ανδρικών Πουκαμίσων με το όνομα Dash&dot,με επωνυμία “Α&Κ ΝΙΚΟΛΟΠΟΥΛΟΣ
        Ο.Ε.” και με έδρα της στην Ανδρέα Παπανδρέου 266, Ίλιον τ.κ. 13121, Αθήνα”,δίνει πρωτεύουσα σημασία στο θέμα
        της Προστασίας των Προσωπικών δεδομένων των Πελατών και Χρηστών του web-site/eshop ης. και σας εξηγεί αναλυτικά
        στο παρακάτω κείμενο το πώς χρησιμοποιεί τα στοιχεία σας όταν επισκέπτεστε και πραγματοποιείται χρήση του
        ιστοτόπου και αγορές μέσω του ηλεκτρονικού καταστήματός της, www.dashndot.gr _.
        <br>
        <strong>Α.ΣΤΟΙΧΕΙΑ ΠΟΥ ΣΥΛΛΕΓΟΥΜΕ</strong>
        <br>
        Όνομα, Επώνυμο, Διεύθυνση, τηλέφωνο, email: για την ενημέρωση, επεξεργασία και τελική αποστολής της παραγγελίας
        σας, τα οποία η Εταιρεία μας δεσμεύεται να χρησιμοποιεί αποκλειστικά και μόνο για αυτόν τον σκοπό, ή αν άλλως
        της ζητηθεί από τον νόμο.
        <br>
        IP adress: ουσιαστικά το μοναδικό αναγνωριστικό που έχετε ως χρήστης της συσκευής του κινητού/tablet/ PC σας.
        Αυτό μπορεί να συλλεχθεί από κάποια τρίτη εταιρεία της οποίας λογισμικό χρησιμοποιείται για την υποστήριξη και
        λειτουργία του eshop μας.
        <br>
        (Αν χρησιμοποιείτε το eshop ας με εγγραφή μέσω κάποιου κοινωνικού δικτύου, τότε σας παραπέμπουμε στο να
        διαβάσετε τις Πολιτικές απορρήτου του εκάτσοτε δικτύου που χρησιμοποιείτε.)
        <br>
        <strong> Β.ΣΥΝΕΡΓΑΤΕΣ/ΤΡΙΤΑ ΜΕΛΗ</strong>
        <br>
        -Για την πραγματοποίηση της αποστολής της παραγγελίας σας, παραχωρούμε τα στοιχεία σας (Όνομα, Επώνυμο,
        Διεύθυνση, τηλέφωνο, στην μεταφορική εταιρεία ΓΕΝΙΚΗ ΤΑΧΥΔΡΟΜΙΚΗ.
        -Για την ηλεκτρονική πληρωμή της παραγγελίας σας μεταφέρεστε στο ασφαλές περιβάλλον συναλλαγών της Paypal
        αναλόγως τον τρόπο πληρωμής που θα επιλέξετε.
        Σας παροτρύνουμε να ανατρέξετε για περισσότερες λεπτομέρειες στις Πολιτικές απορρήτου των παραπάνω εταιρειών.
        <br>
        <strong> Γ.ΠΟΛΙΤΙΚΗ COOKIES</strong>
        <br>
        <strong> Δ. ΔΙΚΑΙΩΜΑ ΤΡΟΠΟΠΟΙΗΣΗΣ/ΑΙΤΗΜΑ ΚΟΙΝΟΠΟΙΗΣΗΣ</strong>
        <br>
        <strong> Ή ΔΙΑΓΡΑΦΗΣ ΣΤΟΙΧΕΙΩΝ ΧΡΗΣΤΗ</strong>
        <br>
        -Έχετε δικαίωμα και μπορείτε να διαχειριστείτε και ακόμα να αλλάξετε τα προσωπικά σας στοιχεία από τον τομέα MY
        ACCOUNT τον οποίο θα δείτε σε δυο σημεία της αρχικής σελίδας του ιστοτόπου dashndot.gr
        -Έχετε δικαίωμα να αιτηθείτε να σας κοινοποιήσουμε τα προσωπικά στοιχεία σας που έχουμε συλλέξει, ή και να τα
        διαγράψουμε εντελώς, στέλνοντας email στο contact@dashndot.gr
        <br>
        <strong>.ΠΛΗΡΩΜΕΣ ΠΑΡΑΓΓΕΛΙΩΝ</strong> 
        <br>
        Στο eshop μας οι παραγγελίες σας εξοφλούνται είτε ηλεκτρονικά (μέσω λόγαριασμού Paypal και Vivapayments-Τράπεζα
        Πειραιώς) είτε με Μετρητά στην Παράδοση της παραγγελίας σας (Αντικαταβολή μέσω Courier)</h5>
    </div>
  </div>
</div>

<app-footer></app-footer>