<app-navbar></app-navbar>
<div class="container mt-5">
  <div class="row ">
    <div class="col-md-6 col-lg-6 col-sm-12">
      <h5>ΣΥΝΔΕΘΕΙΤΕ</h5>
      <div class="card p-4 ">
        <h6>Έχετε ήδη λογαριασμό;</h6>
        <br>
        <form class="form my-2 my-lg-0" #loginForm="ngForm" (ngSubmit)="loginCustomer()">
          <h6 class="text-muted">Διεύθυνση ηλεκτρονικού ταχυδρομείου</h6>
          <input type="text" class="form-control" required name="email" [(ngModel)]="customer.email">
          <Br>
          <h6 class="text-muted">Κωδικός Πρόσβασης</h6>
          <input class="form-control mr-sm-2" type="password" required name="password" [(ngModel)]="customer.password">
          <div class="modal-footer">
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="saveUser" name="saveUser" checked="" [(ngModel)]="customer.saveUser">
              <label class="custom-control-label" for="saveUser">Remember me</label>
            </div>
            <button type="submit" class="btn btn-outline-warning">Σύνδεση</button>
          </div>
        </form>
      </div>
    </div>
    <div class="col-md-6 col-lg-6 col-sm-12">
      <h5 class="text-white">ΕΓΓΡΑΦΗ ΧΡΗΣΤΗ</h5>
      <div class="card p-4">
        <h6 class="">Δημιουργία λογαριασμού</h6>
        <br>
        <form [formGroup]="registerForm" (ngSubmit)="register()" class="form my-2 my-lg-0">

          <div class="form-group">
            <h6 class="text-muted">Όνομα</h6>
            <input type="text" class="form-control" formControlName="firstname" [ngClass]="{'is-invalid': registerForm.get('firstname').errors && registerForm.get('firstname').touched}"
              required>
            <div class="invalid-feedback">Αυτό το πεδίο είναι υποχρεωτικό.</div>
          </div>
          <div class="form-group">
            <h6 class="text-muted">Επίθετο</h6>
            <input type="text" class="form-control" formControlName="lastname" [ngClass]="{'is-invalid': registerForm.get('lastname').errors && registerForm.get('lastname').touched}"
              required>
            <div class="invalid-feedback">Αυτό το πεδίο είναι υποχρεωτικό.</div>
          </div>
          <div class="form-group">
            <h6 class="text-muted">Διεύθυνση ηλεκτρονικού ταχυδρομείου</h6>
            <input type="email" class="form-control" formControlName="email" [ngClass]="{'is-invalid': registerForm.get('email').errors && registerForm.get('email').touched}"
              required email>
            <div class="invalid-feedback">Εισάγετε ένα έγκυρο Email.
            </div>
          </div>
          <div class="form-group">
            <h6 class="text-muted">Κωδικός</h6>
            <input type="password" class="form-control" formControlName="password" [ngClass]="{'is-invalid': registerForm.get('password').errors && registerForm.get('password').touched}"
              required>
            <div class="invalid-feedback" *ngIf="registerForm.get('password').hasError('required') && registerForm.get('password').touched">Αυτό
              το πεδίο είναι υποχρεωτικό.</div>
          </div>
          <div class="form-group">
            <h6 class="text-muted">Επανάληψη κωδικού</h6>
            <input type="password" required class="form-control" formControlName="confirmPassword" [ngClass]="{'is-invalid': registerForm.get('confirmPassword').errors && registerForm.get('confirmPassword').touched 
        || registerForm.get('confirmPassword').touched && registerForm.hasError('mismatch')}">
            <div class="invalid-feedback" *ngIf="registerForm.get('confirmPassword').hasError('required') && registerForm.get('confirmPassword').touched">Αυτό
              το πεδίο είναι υποχρεωτικό.</div>
            <div class="invalid-feedback" *ngIf="registerForm.hasError('mismatch') && registerForm.get('confirmPassword').touched">Οι
              κωδικοί πρέπει να ταιριάζουν.
            </div>
          </div>
          <div class="form-group text-center">
            <button class="btn btn-warning mr-1" type="submit" [disabled]="registerForm.invalid">Εγγραφή</button>
            <button class="btn btn-default" type="button" [routerLink]="['/']">Ακύρωση</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>