<app-navbar></app-navbar>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-6">
      <h6><i class="fa fa-truck mr-1"></i>
        ΓΙΑ ΠΑΡΑΓΓΕΛΙΕΣ ΑΝΩ ΤΩΝ 30€ ΔΩΡΕΑΝ ΑΠΟΣΤΟΛΗ ΣΕ ΟΛΗ ΤΗΝ ΕΛΛΑΔΑ
      </h6>
    </div>
    <div class="col-md-6">
      <div class="pull-right" dropdown placement="bottom right">
        <i class="fa fa-shopping-bag mr-1"></i>
        <a id="button-basic" dropdownToggle class="dropdown-toggle" aria-controls="dropdown-basic">
          Το καλάθι σας είναι άδειο <span class="caret"></span>
        </a>
        <ul id="dropdown-alignment" *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="button-alignment">
          <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
          <li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>
          <li role="menuitem"><a class="dropdown-item" href="#">Something else here</a></li>
          <li class="divider dropdown-divider"></li>
          <li role="menuitem"><a class="dropdown-item" href="#">Separated link</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<hr>
<div class="container">

  <form class="form-inline">

    <div class="form-group">

      <label for="exampleSelect1" class="text-dark">ΤΑΞΙΝΟΜΗΣΗ:</label>
      <br>
      <select class="form-control" id="exampleSelect1">
        <option>Προεπιλογή</option>
        <option>Newest > oldest</option>
        <option>Oldest > Newest</option>
        <option>Τιμή (Χαμηλή > Υψηλή)</option>
        <option>Τιμή (Υψηλή > Χαμηλή)</option>
      </select>
    </div>
    <div class="form-group text-center ">
      <label for="exampleSelect1" class="text-dark">ΕΜΦΑΝΙΣΗ:</label>
      <br>
      <select class="form-control" id="exampleSelect1">
        <option>20</option>
        <option>50</option>
        <option>75</option>
        <option>100</option>
      </select>
    </div>
    <div class="form-group">
      <a href="#"><i class="fa fa-list mr-2 text-primary"></i></a>
      <a href="#"><i class="fa fa-th text-primary"></i></a>
    </div>
  </form>
  <!-- <select class="form-control" id="exampleSelect1" *ngIf="isAdmin">
      <option>ΕΜΦΑΝΙΣΕ ΤΑ ΚΑΛΟΚΑΙΡΙΝΑ</option>
      <option>ΕΜΦΑΝΙΣΕ ΧΕΙΜΩΝΙΑΤΙΚΑ</option>

    </select> -->


  <div class="row ">

    <div class="col-lg-3 col-sm-6 col-12" *ngFor="let product of product">
      <div class="card text-center " style="width: 100%">
        <img class="card-img-top" src="{{product.photoUrl}}" alt="Card image cap">
        <br>
        <h6 class="card-text text-dark font-weight-bold">{{product.title}}</h6>

        <hr>
        <div class="card-body text-center">
          <h6>Κωδ: {{product.code}}</h6>
          <a class="card-link text-dark font-weight-bold ">{{product.price | currency:'EUR':symbol }}</a>
        </div>
        <div class="btn-toolbar">
          <button type="button" class="btn btn-primary btn-block"><i class="fa fa-shopping-basket mr-1"></i>Προσθήκη στο καλάθι</button>
          <button type="button" class="btn btn-secondary btn-block" [routerLink]="['/slimfit/details/',product.id]"><i
              class="fa fa-info-circle"></i>
            Λεπτομέρειες</button>
        </div>
      </div>
      <br>
    </div>
  </div>


  <br>
  <div>
    <ul class="pagination ">
      <li class="page-item disabled">
        <a class="page-link " href="#">&laquo;</a>
      </li>
      <li class="page-item active">
        <a class="page-link " href="#">1</a>
      </li>
      <li class="page-item">
        <a class="page-link " href="#">2</a>
      </li>
      <li class="page-item">
        <a class="page-link " href="#">3</a>
      </li>
      <li class="page-item">
        <a class="page-link " href="#">4</a>
      </li>
      <li class="page-item">
        <a class="page-link " href="#">5</a>
      </li>
      <li class="page-item">
        <a class="page-link " href="#">&raquo;</a>
      </li>
    </ul>
  </div>

</div>

<app-footer></app-footer>