<app-navbar></app-navbar>

<div class="container ">
  <div class="thumbnail text-center mt-4 d-none d-md-block d-lg-block">
    <img src="../../assets/images/itemsdetails.jpg" alt="first slide" style="display: block;  ">
    <div class="caption">
      <h2 class="display-3 centered animated fadeInRight">In style with dāsh&dot.</h2>
    </div>
  </div>
  <hr>
  <form class="form-inline p-2 mt-3">

    <div class="form-group">
      <label for="exampleSelect1" class="font-weight-bold">ΤΑΞΙΝΟΜΗΣΗ:</label>
      <br>
      <select class="form-control" id="exampleSelect1" #order (change)="sortBy(order.value)">
        <option></option>
        <option>Newest > Oldest</option>
        <option>Oldest > Newest</option>
        <option>Τιμή (Χαμηλή > Υψηλή)</option>
        <option>Τιμή (Υψηλή > Χαμηλή)</option>
      </select>
    </div>
    <div class="form-group" *ngIf="category">
      <label for="exampleSelect1" class="font-weight-bold">ΜΕΓΕΘΟΣ:</label>
      <select class="form-control" id="exampleSelect1" #size (change)="sortBySize(size.value)">
        <option></option>
        <option *ngIf="!sizeCategory">Small</option>
        <option *ngIf="!sizeCategory">Medium</option>
        <option *ngIf="!sizeCategory">Large</option>
        <option *ngIf="!sizeCategory">XLarge</option>
        <option *ngIf="!sizeCategory">XXLarge</option>
        <option *ngIf="!sizeCategory">3XLarge</option>
        <option *ngIf="!sizeCategory">4XLarge</option>
        <option *ngIf="!sizeCategory">5XLarge</option>
        <option *ngIf="!sizeCategory">6XLarge</option>
        <option *ngIf="sizeCategory">110cm</option>
        <option *ngIf="sizeCategory">115cm</option>
        <option *ngIf="sizeCategory">120cm</option>
        <option *ngIf="sizeCategory">125cm</option>
        <option *ngIf="sizeCategory">130cm</option>
        <option *ngIf="sizeCategory">135cm</option>
      </select>

    </div>



    <div class="form-group">
      <label for="exampleSelect1" class=" font-weight-bold">ΕΜΦΑΝΙΣΗ:</label>
      <select class="form-control" id="exampleSelect1" #items (change)="sortByItems(items.value)">
        <option>4</option>
        <option>8</option>
        <option>12</option>
        <option>20</option>
      </select>
    </div>
    <div class="form-group ">
      <a style="cursor:pointer"><i class="fa fa-list mr-2 text-primary" (click)="hideBox()"></i></a>
      <a style="cursor:pointer"><i class="fa fa-th text-primary" (click)="hideList()"></i></a>
    </div>
  </form>
  <br>
  <div class="row " *ngIf="box">
    <div class="col-lg-3 col-sm-6 col-md-6" *ngFor="let product of product">
      <a  class="text-dark">
        <div class="card text-center p-3">
          <div class="ribbon" *ngIf="product.discount>0"><span>Sales</span></div>
          <img [routerLink]="['/product',product.seoUrl]" class="card-img-top img-fluid" src="{{product.photoUrl}} " 
            alt="Card image cap">
          <h6 class="card-text text-dark font-weight-bold mt-3">{{product.title}}</h6>
          <hr>
          <div class="card-body text-center">
            <h6>Κωδ: {{product.code}}</h6>
            <h4 class="card-title">Τιμή:
              <span class=" text-warning" style="font-family:cursive" *ngIf="product.discount>0">{{
                (product.price - product.discount) |
                currency:'EUR':symbol}}</span>
              <span class=" text-dark ml-2 " style="font-family:cursive" [ngClass]="{discount: product.discount>0}">{{
                product.price |
                currency:'EUR':symbol}}</span></h4>
          </div>
          <div class="btn-toolbar">
            <button type="button"
            (click)="addToCart(product)" 
             class="btn btn-primary btn-block"><i class="fa fa-shopping-basket mr-1"></i>
              Kαλάθι</button>
          </div>
        </div>
      </a>
      <br>
    </div>
  </div>
  <div class="row" *ngIf="list">
    <div class="featurette col-md-12" *ngFor="let product of product">
      <div class="row">
        <div class="  col-md-8 order-md-2 mt-4 ">
          <h4 class="featurette-heading card-header">{{product.title}}</h4>
          <div class="ribbon" *ngIf="product.discount>0" style="width:75px; top:-12px; right: 8px;"><span style="width:75px; top:18px; right:-16px">Sales</span></div>
          <br>
          <h6 class="font-weight-bold">Κωδ: {{product.code}}</h6>
          <p class="lead">{{product.description}}</p>
          <h4 class="card-title">Τιμή:
            <span class=" text-warning" style="font-family:cursive" *ngIf="product.discount>0">{{
              (product.price - product.discount) |
              currency:'EUR':symbol}}</span>
            <span class=" text-dark ml-2 " style="font-family:cursive" [ngClass]="{discount: product.discount>0}">{{
              product.price |
              currency:'EUR':symbol}}</span></h4>
          <div class="btn-toolbar mt-3">
            <button type="button" class="btn btn-primary mr-2"  (click)="addToCart(product)" ><i class="fa fa-shopping-basket mr-1"></i>Kαλάθι</button>          
          </div>
        </div>
        <div class="col-md-4 order-md-1  text-center">
          <img class=" img-fluid mx-auto card-img-top" src="{{product.photoUrl}}" [routerLink]="['/product',product.seoUrl]"
            alt="Generic placeholder image">
        </div>
      </div>
      <hr>
    </div>
  </div>
  <br>
  <div class="d-flex justify-content-center">
    <!-- <pagination [boundaryLinks]="true" [totalItems]="pagination.totalItems" 
      [itemsPerPage]="pagination.itemsPerPage"
      [(ngModel)]="pagination.currentPage"
      (pageChanged)="pageChanged($event)"
    previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;"
      lastText="&raquo;">

    </pagination> -->

    <button class="btn btn-primary btn-lg btn-block" (click)="loadMore()" style="width:300px;" *ngIf="!hide">
      Περισσότερα..
    </button>
  </div>
  <br>
</div>
<app-footer></app-footer>