<app-navbar></app-navbar>

<app-checkout-steps [step]="4"></app-checkout-steps>
<div class="container pt-4 pb-5">
    <div class="card card-body">
        <div class="text center">
            <h3>Η παραγγελία σας ολοκληρώθηκε !</h3>
            <p> Η παραγγελία σας καταχωρήθηκε επιτυχώς. Μπορείτε να επικοινωνήσετε μαζί μας για την εξέλιξη της ή
                να μεταβείτε στις παραγγελίες σας και να ενημερωθείτε απο εκεί!</p>
            <p><a class="text-warning pointer" [routerLink]="['/orders','1','10']">Μετάβαση στις παραγγελίες μου</a></p>
        </div>
    </div>
</div>
<app-footer></app-footer>