<!-- <ngx-spinner bdColor="rgba(253,253,253,0.8)" size="large" color="#000000" type="line-scale-party"></ngx-spinner> -->
<div class="row pt-3">
  <div class="col-lg-4 col-md-6">
    <div class="input-group ">
      <input type="text" class="form-control" placeholder="Αναζ. με κινητό" [(ngModel)]="pagedData.search"
        (keyup.enter)="getOrders(true)">
      <div class="input-group-append">
        <button class="btn btn-primary" (click)="getOrders(true)" type="button">Αναζήτηση</button>
      </div>
    </div>
  </div>
  <div class="col"></div>
  <div class="mr-3">
    <div class="form-group">
      <select class="form-control" [(ngModel)]="pagedData.status" (change)="getOrders()">
        <option *ngFor="let os of orderStatus;" [value]="os.name">{{os.name}}</option>
      </select>
    </div>
  </div>
  <div class="mr-3">
    <div class="form-group">
      <select class="form-control" [(ngModel)]="pagedData.pageSize" (change)="getOrders()">
        <option value="5">5</option>
        <option value="10">10</option>
        <option value="20">20</option>
        <option value="50">50</option>
      </select>
    </div>
  </div>
  <div class="col-lg-12 mt-3">
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>
            <a class="text-info pointer" (click)="setOrder(1)">
              Ημ/νια
              <span class="icon">
                <i class="fa" [ngClass]="{'fa-caret-up': pagedData.order == 'order_date' , 'fa-caret-down': pagedData.order == 'order_date_desc'}"></i>
              </span>
            </a>
          </th>
          <th>
            <a class="text-info pointer" (click)="setOrder(0)">
              Επώνυμο
              <span class="icon">
                <i class="fa" [ngClass]="{'fa-caret-up': pagedData.order == 'lastname' , 'fa-caret-down': pagedData.order == 'lastname_desc'}"></i>
              </span>
            </a>
          </th>
          <th>Όνομα</th>
          <th>Τηλέφωνο</th>
          <th>Ποσό</th>
          <th>Τροπος Πληρωμής</th>
          <th>Κατάσταση</th>
          <th>Ενέργειες</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let order of pagedData.rows;let i = index">
          <th>{{i + 1}}</th>
          <td>{{order.orderDate | date :'dd-MM-yyyy'}}</td>
          <td>{{order.lastName}} </td>
          <td> {{order.firstName}}</td>
          <td>{{order.mobile}}</td>
          <td>{{order.total}} &euro;</td>
          <td>
            <span class="badge {{order.paymentMethod == 0 ? 'badge-info':'badge-warning'}}">{{order.paymentMethod == 0
              ? 'Αντικαταβολή' : 'Paypal'}}</span>
          </td>
          <td>
            <span class="{{styleForOrderStatus(order.orderStatus)}} badge">
              {{getOrderStatus(order.orderStatus)}}
            </span>
          </td>
          <td>
            <a class="btn btn-info btn-sm text-white" [routerLink]="['/admin','main','order',order.id]">προβολή</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-lg-12 mt-3" *ngIf="pagedData.rows.length > 0">
    <nav class="">
      <ul class="pagination justify-content-end">
        <li class="page-item ">
          <a class="page-link" (click)="firstPage()">
            <span class="icon mr-2">
              <i class="fa fa-fast-backward"></i>
            </span>
            Πρώτη</a>
        </li>
        <li class="page-item ">
          <a class="page-link" (click)="previousPage()">
            <span class="icon mr-2">
              <i class="fa fa-step-backward"></i>
            </span>Προηγούμενη</a>
        </li>
        <li class="page-item" *ngFor="let p of pagedData.pages">
          <a class="page-link" [ngClass]="{'is-active': pagedData.page == p}" (click)="setPage(p)">{{p}}</a>
        </li>
        <li class="page-item">
          <a class="page-link" (click)="nextPage()">Επόμενη
            <span class="icon ml-2">
              <i class="fa fa-step-forward"></i>
            </span>
          </a>
        </li>
        <li class="page-item">
          <a class="page-link" (click)="lastPage()">Τελευταία
            <span class="icon ml-2">
              <i class="fa fa-fast-forward"></i>
            </span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>