.rounded {
  background-image: url("../../assets/images/das2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 57rem;
  z-index: 1;
}

.p-md-5 {
  padding: 1rem !important;
}
.jumbotron-top {
  padding: 1rem 2rem;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.25), 0 15px 15px rgba(0, 0, 0, 0.22);
  border-radius: 15px;
}



.px-0 {
  padding: 280px;
  margin: 0 auto;
}

.box1 > img {
  width: 35rem;
  max-height: 30rem;
  cursor: pointer;
}

.row > .col-6 > img {
  width: 38rem;
  max-height: 40rem;
  float: right;
  margin-top:20px;
}

.blog{
  margin-top: 300px;
}

.mid-banner {
  margin-top: 160px;
}

.display-5{
  text-transform:none;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
}

.col-md-5 img {
  transform: scale(1, 1);
  transition-duration: 500ms;
  transition-timing-function: ease-out;
}

.col-md-5:hover img {
  transform: scale(1.1, 1.1);
  transition-duration: 500ms;
  transition-timing-function: ease-out;
  opacity: 1;

}

.col-md-5{
  overflow: hidden;
}

.col-md-7{
  margin:auto 0;
}

.letter-eff{
  text-shadow: 0 15px 25px rgba(0, 0, 0, 0.25), 0 15px 15px rgba(0, 0, 0, 0.22);
}

.row>.col-6>img{
  width: 60rem;
  max-height: 42;
  margin-top:0px;
}

.jumbotron-bot{
  padding: 0 0rem;
  margin-bottom:0rem;
}
