<app-navbar></app-navbar>
<div class="jumbotron p-3 p-md-5 text-white rounded bg-dark mt-5">
    <div class="col-md-6 px-0 text-center">
        <h1 class="display-3 text-white font-weight-bold" style="text-transform:none">dāsh&dot.</h1>
        <p class="lead my-3">Stand tall in this timeless classic</p>
    </div>
    <div class="pull-right">
        <h3 class="display-5 text-white">New arrivals & Restocks</h3>
        <button type="button" class="btn btn-primary">START SHOPPING</button>
    </div>
    <div class="mid-banner"></div>
    <div class="jumbotron text-dark mt-5 jumbotron-top">
        <div class=" mt-5 text-center">
            <h1 class="display-5 letter-eff">
                Look your best with dāsh&dot.</h1>
            <p class="lead">Shirts made for you_.!</p>
            <hr class="my-4">
            <p></p>
            <p class="lead">
                <a class="btn btn-primary" href="#" role="button">Shop now</a>
            </p>
        </div>
    </div>
</div>
<div class="container blog">
    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 text-center">
            <h2 class="featurette-heading">Ανακαλυψτε την νεα μας κολεξιον_. <span class="text-muted">It'll blow your
                    mind.</span></h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis
                euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus
                ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" src="https://imagehost.vendio.com/a/35141041/aview/SMT522984151.jpg"
                alt="Generic placeholder image">
        </div>
    </div>
    <hr class="featurette-divider">
    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Stay warm @ dāsh&dot_. <span class="text-muted">See for yourself.</span></h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis
                euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus
                ac cursus commodo.</p>
        </div>
        <div class="col-md-5 order-md-1">
            <img class="featurette-image img-fluid mx-auto" src="https://image.dhgate.com/0x0/f2/albu/g2/M01/5B/5D/rBVaG1WpDHeAcGYKAACHTeDCOuo004.jpg"
                alt="Generic placeholder image">
        </div>
    </div>
    <hr class="featurette-divider">
    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading"> mix & max με τα αξεσουαρ μας_.!<span class="text-muted">Checkmate.</span></h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis
                euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus
                ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" src="https://i.pinimg.com/564x/67/45/48/67454899289216bdf349232f89f46755.jpg"
                alt="Generic placeholder image">
        </div>
    </div>
    <hr class="featurette-divider">
</div>

<div class="jumbotron jumbotron-bot">
    <div class="row no-gutters">
        <div class="col-6">
            <img src="https://img.etsystatic.com/il/0c2f94/1423409255/il_680x540.1423409255_arah.jpg?version=1" alt="">
        </div>
        <div class="col-6">
            <div class="card flex-md-row mb-4 shadow-sm h-md-250">
                <div class="card-body d-flex flex-column align-items-start">
                    <strong class="d-inline-block mb-2 text-primary">Fashion</strong>
                    <h3 class="mb-0">
                        <a class="text-dark" href="#">Get the style</a>
                    </h3>
                    <p class="card-text mb-auto">Συνδύασε το αγαπημένο σου πουκάμισο <strong>dāsh&dot </strong>με ήδη
                        επιλεγμένο στυλ_.
                    </p>

                </div>
            </div>
            <img class="card-img-right flex-auto d-none d-lg-block" style="max-height:31rem; width: 62rem; border-top-left-radius: 50px;"
                src="https://i.ytimg.com/vi/N73VY4I0VF0/maxresdefault.jpg" alt="Card image cap">
        </div>
    </div>
</div>
<app-footer></app-footer>