.rounded {
  background-image: url("../../assets/images/das2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 57rem;
  z-index: 1;

}
.bg-light{
  background-image:linear-gradient(rgb(71, 71, 71),rgb(134, 121, 107));
}

.p-md-5 {
  padding: 1rem !important;
}


.px-0 {
  padding: 280px;
  margin: 0 auto;
}

.box1 > img {
  width: 35rem;
  max-height: 30rem;
  cursor: pointer;
}

.row > .col-6 > img {

  max-height: 40rem;
  float: right;
  margin-top:20px;
  max-width: 39rem;
}


.mid-banner {
  margin-top: 160px;
}

.display-3{
  text-transform:none;
  font-family: sans-serif;
}

.col-md-5 img {
  transform: scale(1, 1);
  transition-duration: 500ms;
  transition-timing-function: ease-out;
  height: 30rem;
}

.col-md-5:hover img {
  transform: scale(1.1, 1.1);
  transition-duration: 500ms;
  transition-timing-function: ease-out;
  opacity: 1;

}

.col-md-5{
  overflow: hidden;
}

.col-md-7{
  margin:auto 0;
}

.letter-eff{
  text-shadow: 0 15px 25px rgba(0, 0, 0, 0.25), 0 15px 15px rgba(0, 0, 0, 0.22);
}

.jumbotron-bot{
  padding: 0 0rem;
  margin-bottom:0rem;
}

.jumbotron{
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25), 0 15px 15px rgba(0, 0, 0, 0.22);
}

.thumbnail>img{
  width:100%;
  max-height: 22rem;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25), 0 15px 15px rgba(0, 0, 0, 0.22);
  transition: .5s ease;
  
}

.thumbnail:hover{
  box-shadow: 0 0 12px 5px rgb(223, 143, 24);
  transition: .5s ease;
}


.container{
  max-width: 1400px;
}

.thumbnail {
  position: relative;
  color:white;
}

h3{
  font-size:30px;
  text-shadow: 0 15px 25px rgba(0, 0, 0, 0.25), 0 15px 15px rgba(0, 0, 0, 0.22);

}

.caption {
  position: absolute;
  top: 45%;
  left: 0;
  width: 100%;
}

.mt-5{
  margin-top:8rem!important;
}

@media only screen and (max-width:375px) {
  .caption {
    position: absolute;
    top: 10%;
    left: 0;
    width: 100%;
  }

}
