<app-navbar></app-navbar>
<div class="container ">
  <div class="card mt-5 border-warning mb-3">
    <div class="card-header">ΟΡΟΙ ΧΡΗΣΗΣ</div>
    <div class="card-body">
      <h4 class="card-title">ΚΑΛΩΣΗΡΘΑΤΕ ΣΤΟΥΣ “ΟΡΟΥΣ ΧΡΗΣΗΣ” ΤΟΥ ESHOP ΤΗΣ DASH&DOT_.</h4>
      <p class="card-text">COMPLYING WITH GENERAL DATA PROTECTION REGULATION
        <br>
        Όλες οι δραστηριότητες του παρόντος eshop είναι σύμφωνες και πάντα διέπονται από την Νέα Πολιτική Προστασίας
        Προσωπικών Δεδομένων-και τον Γενικό Κανονισμό Προστασίας Δεδομένων (2016/679) καθώς και σύμφωνα με την ισχύουσα
        κοινοτική Οδηγία 2016/680, για την προστασία των φυσικών προσώπων έναντι της επεξεργασίας δεδομένων προσωπικού
        χαρακτήρα από αρμόδιες αρχές για τους σκοπούς της πρόληψης, διερεύνησης, ανίχνευσης ή δίωξης ποινικών
        αδικημάτων
        ή της εκτέλεσης ποινικών κυρώσεων και για την ελεύθερη κυκλοφορία των δεδομένων αυτών. Ο συγκεκριμένος
        Κανονισμός
        και Οδηγία αποτελούν δεσμευτικές νομικές πράξεις.
        <br>
        <strong>ΠΡΟΕΙΔΟΠΟΙΗΣΗ: *ΑΝ ΔΕΝ ΣΥΜΦΩΝΕΙΤΕ ΠΛΗΡΩΣ ΚΑΙ ΑΝΕΠΙΦΥΛΑΚΤΑ ΜΕ ΤΟΥΣ ΟΡΟΥΣ ΧΡΗΣΗΣ ΤΟΥ ΙΣΤΟΤΟΠΟΥ ΜΑΣ, ΕΚ
          ΤΩΝ
          ΠΡΟΤΕΡΩΝ
          ΣΑΣ ΠΑΡΑΚΑΛΟΥΜΕ, ΜΗΝ ΚΑΝΕΤΕ ΧΡΗΣΗ ΤΟΥ.*</strong>
        <br>
        Ως χρήση νοείται η άσκηση οποιαδήποτε δραστηριότητας(εισόδου, πλοήγησης, αγοράς προϊόντος, και άλλα) Εντός του
        ηλεκτρονικού καταστήματος www.dashndot.gr.
        <br>
        Ο Χρήστης υποχρεούται να διαβάσει και να αποδεχθεί τους Όρους χρήσης του eshop dashndot.gr -προτού προβεί στη
        χρήση του. Με την είσοδό του, θεωρείται πως αποδέχεται πλήρως και ανεπιφύλακτα τους Όρους χρήσης του
        καταστήματος.
        <br>
        του eshop, γι αυτό και σας ενημερώνει: Κάθε φορά που κάνετε εγγραφή, είσοδο, παραγγελία, ή και πλοηγείστε στο
        eshop μας, διαθέτετε τα προσωπικά σας στοιχεία προς χρήση της εταιρείας καθώς και τρίτων μερών που
        συνεργάζονται
        μαζί της.
        <br>
        <strong>ΠΝΕΥΜΑΤΙΚΑ ΔΙΚΑΙΩΜΑΤΑ:</strong> Το εμπορικό σήμα της Dash&dot, είτε άλλα τυχόν εμπορικά σήματα που
        εμφανίζονται στο
        e-shop
        της, απαγορεύεται να χρησιμοποιηθούν από τρίτους δίχως την εγκεκριμένη άδειας χρήσης από τους νόμιμους
        ιδιοκτήτες
        τους.
        <br>
        <strong>ΔΗΛΩΣΗ ΑΛΗΘΩΝ ΣΤΟΙΧΕΙΩΝ/ΚΑΤΑΧΡΗΣΗ/SPAM/ΠΕΙΡΑΤΕΙΑ:</strong> Απαγορεύεται η κατάχρηση του eshop, η
        αποστολή καταχρηστικών
        email στους διαχειριστές του και η δήλωση ψευδών στοιχείων παραγγελίας.
        <br>
        <strong> ΠΡΟΣΤΑΣΙΑ ΑΝΗΛΙΚΩΝ:</strong> Συμβουλεύεται στους ανήλικους Χρήστες του eshop να μην παραχωρούν τα
        προσωπικά τους
        στοιχεία
        δίχως να λάβουν πρώτα τη γονεική έγκρισης.
        <br>
        Οι όροι χρήσης του eshop μας μπορούν να αλλάξουν ανά πάσα στιγμή, και είναι υποχρέωση του Χρήστη να επαναλάβει
        την ανάγνωσή τους.
        <br>
        Όλες οι αλλαγες των όρων γίνονται πάντα σύμφωνα με τον Νόμο προστασίας του καταναλωτή για αγορές από απόσταση
        (Ν.
        2251/1994) που κατοχυρώνεται από τις ισχύουσες διατάξεις του Διεθνούς και Κοινοτικού δικαίου.
        <br>
        <strong> ♦ΣΗΜΕΙΩΣΗ/ΥΠΕΝΘΥΜΙΣΗ:</strong> Αναπόσπαστο κομμάτι των Όρων Χρήσης του ιστοτόπου/ηλεκτρονικού μας
        καταστήματος,
        θεωρούνται
        και τα ΠΡΟΣΩΠΙΚΑ ΔΕΔΟΜΕΝΑ τα οποία η εταιρεία μας σας παροτρύνει να διαβάζετε συχνά, εφόσον θα τα ανανεώνουμε
        όταν αυτό κρίνεται απαραίτητο είτε από την λειτουργία του eshop μας, είτε από τον Νόμο.♦
        <br>
        <strong>ΠΡΟΣΩΠΙΚΑ ΔΕΔΟΜΕΝΑ</strong>
        <br>
        Η Ελληνική Εταιρεία Ανδρικών Πουκαμίσων με το όνομα Dash&dot,με επωνυμία “Α&Κ ΝΙΚΟΛΟΠΟΥΛΟΣ Ο.Ε.” και με έδρα
        της
        στην Ανδρέα Παπανδρέου 266, Ίλιον τ.κ. 13121, Αθήνα”,δίνει πρωτεύουσα σημασία στο θέμα της Προστασίας των
        Προσωπικών δεδομένων των Πελατών και Χρηστών του web-site/eshop ης. και σας εξηγεί αναλυτικά στο παρακάτω
        κείμενο
        το πώς χρησιμοποιεί τα στοιχεία σας όταν επισκέπτεστε και πραγματοποιείται χρήση του ιστοτόπου και αγορές μέσω
        του ηλεκτρονικού καταστήματός της, www.dashndot.gr _.
        <br>
        <strong>Α.ΣΤΟΙΧΕΙΑ ΠΟΥ ΣΥΛΛΕΓΟΥΜΕ</strong>
        <br>
        Όνομα, Επώνυμο, Διεύθυνση, τηλέφωνο, email: για την ενημέρωση, επεξεργασία και τελική αποστολής της παραγγελίας
        σας, τα οποία η Εταιρεία μας δεσμεύεται να χρησιμοποιεί αποκλειστικά και μόνο για αυτόν τον σκοπό, ή αν άλλως
        της
        ζητηθεί από τον νόμο.
        <br>
        IP adress: ουσιαστικά το μοναδικό αναγνωριστικό που έχετε ως χρήστης της συσκευής του κινητού/tablet/ PC σας.
        Αυτό μπορεί να συλλεχθεί από κάποια τρίτη εταιρεία της οποίας λογισμικό χρησιμοποιείται για την υποστήριξη και
        λειτουργία του eshop μας.
        <br>
        (Αν χρησιμοποιείτε το eshop ας με εγγραφή μέσω κάποιου κοινωνικού δικτύου, τότε σας παραπέμπουμε στο να
        διαβάσετε
        τις Πολιτικές απορρήτου του εκάτσοτε δικτύου που χρησιμοποιείτε.)
        <br>

        -Για την πραγματοποίηση της αποστολής της παραγγελίας σας, παραχωρούμε τα στοιχεία σας (Όνομα, Επώνυμο,
        Διεύθυνση, τηλέφωνο, στην μεταφορική εταιρεία ΓΕΝΙΚΗ ΤΑΧΥΔΡΟΜΙΚΗ.
        <br>
        -Για την ηλεκτρονική πληρωμή της παραγγελίας σας μεταφέρεστε στο ασφαλές περιβάλλον συναλλαγών της Paypal
        αναλόγως τον τρόπο πληρωμής που θα επιλέξετε.
        <br>
        Σας παροτρύνουμε να ανατρέξετε για περισσότερες λεπτομέρειες στις Πολιτικές απορρήτου των παραπάνω εταιρειών.
        <br>
        Γ.ΠΟΛΙΤΙΚΗ COOKIES
        <br>
        <strong>Δ. ΔΙΚΑΙΩΜΑ ΤΡΟΠΟΠΟΙΗΣΗΣ/ΑΙΤΗΜΑ ΚΟΙΝΟΠΟΙΗΣΗΣ</strong>
        <br>
        <strong> Ή ΔΙΑΓΡΑΦΗΣ ΣΤΟΙΧΕΙΩΝ ΧΡΗΣΤΗ</strong>
        <br>
        -Έχετε δικαίωμα και μπορείτε να διαχειριστείτε και ακόμα να αλλάξετε τα προσωπικά σας στοιχεία από τον τομέα MY
        ACCOUNT τον οποίο θα δείτε σε δυο σημεία της αρχικής σελίδας του ιστοτόπου dashndot.gr
        <br>
        -Έχετε δικαίωμα να αιτηθείτε να σας κοινοποιήσουμε τα προσωπικά στοιχεία σας που έχουμε συλλέξει, ή και να τα
        διαγράψουμε εντελώς, στέλνοντας email στο contact@dashndot.gr
        <br>
        <strong>Ε.ΠΛΗΡΩΜΕΣ ΠΑΡΑΓΓΕΛΙΩΝ</strong>
        <br>
        Στο eshop μας οι παραγγελίες σας εξοφλούνται είτε ηλεκτρονικά (μέσω λόγαριασμού Paypal) είτε με Μετρητά στην
        Παράδοση της παραγγελίας σας (Αντικαταβολή μέσω Courier)
        <br>
        Οι όροι χρήσης του eshop μας μπορούν να αλλάξουν ανά πάσα στιγμή, και είναι υποχρέωση του Χρήστη να επαναλάβει
        την ανάγνωσή τους.
        <br>
        Όλες οι αλλαγες των όρων γίνονται πάντα σύμφωνα με τον Νόμο προστασίας του καταναλωτή για αγορές από απόσταση
        (Ν.
        2251/1994) που κατοχυρώνεται από τις ισχύουσες διατάξεις του Διεθνούς και Κοινοτικού δικαίου.
        <br>
        <strong> ♦ΣΗΜΕΙΩΣΗ/ΥΠΕΝΘΥΜΙΣΗ:</strong> Αναπόσπαστο κομμάτι των Όρων Χρήσης του ιστοτόπου/ηλεκτρονικού μας
        καταστήματος,
        θεωρούνται
        και τα ΠΡΟΣΩΠΙΚΑ ΔΕΔΟΜΕΝΑ τα οποία η εταιρεία μας σας παροτρύνει να διαβάζετε συχνά, εφόσον θα τα ανανεώνουμε
        όταν αυτό κρίνεται απαραίτητο είτε από την λειτουργία του eshop μας, είτε από τον Νόμο.♦
        <br>
        Για οποιαδήποτε απορία, μπορείτε να επικοινωνήσετε μαζί μα μέσω της φόρμας επικοινωνίας.
        <br>
        Ευχαριστούμε.</p>
    </div>
  </div>
</div>


<app-footer></app-footer>