<div class="pt-5">
    <div class="bg-dark py-5">
        <ul class="nav justify-content-center  nav-justified">
            <li class="nav-item">
                <a class="nav-link text-white  text-center h4 ">Επισκεφτείτε μας στα γραφεία μας.</a>
                <br>
                <ul class="text-white  pl-0">
                    <li class="list-item list-unstyled "><i class="fa fa-map-marker mr-1" aria-hidden="true"></i>
                        Ανδρέα Παπανδρέου 266, Ίλιον ΤΚ 131 21</li>
                    <li class="list-item list-unstyled"><i class="fa fa-phone mr-1" aria-hidden="true"></i>210-2622042</li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white h4 ">Μείνετε μαζι μας</a>
                <br>
                <div class="text-center">
                    <a href="https://www.facebook.com/dashandot/" target="_blank" class="btn btn-lg btn-radius btn-info mr-3"><i
                            class="fa fa-facebook-square fa-lg"></i></a>
                    <a title="contact@dashandot.gr" class="btn btn-lg btn-radius btn-danger mr-3 text-white"><i class="fa fa-envelope-o fa-lg"></i></a>
                    <a href="https://www.instagram.com/dashndoting/" target="_blank" class="btn btn-lg btn-radius text-white btn-purple"><i
                            class="fa fa-instagram fa-lg"></i></a>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link text-white h4 ">Θα δουμε τι εδω</a>
            </li>

        </ul>
    </div>
    <div class=" bg-warning py-1">
        <ul class="nav justify-content-center">
            <li class="nav-item vl">
                <a class="nav-link  text-white" [routerLink]="['/company']" >Η ΕΤΑΡΕΙΑ</a>
            </li>
            <div class="vl"></div>
            <li class="nav-item vl">
                <a class="nav-link text-white" [routerLink]="['/terms-of-use']">ΟΡΟI ΧΡΗΣΗΣ</a>
            </li>
            <div class="vl"></div>
            <li class="nav-item vl">
                <a class="nav-link text-white" [routerLink]="['/gdrp']">ΠΡΟΣΩΠΙΚΑ ΔΕΔΟΜΕΝΑ</a>
            </li>
            <div class="vl"></div>
            <li class="nav-item vl">
                <a class="nav-link text-white" [routerLink]="['/contact']">ΕΠΙΚΟΙΝΩΝΙΑ</a>
            </li>
            <div class="vl"></div>
            <li class="nav-item vl">
                <a class="nav-link text-white" [routerLink]="['/customer-service']">ΕΞΥΠΗΡΕΤΗΣΗ ΠΕΛΑΤΩΝ</a>
            </li>
        </ul>
    </div>
    <div class="bg-dark py-0">
        <ul class="nav justify-content-center">
            <div class="vl"></div>
            <li class="nav-item">
                <a class="nav-link text-white">
                    © 2018 by JPds. Proudly created with <a href="https://getbootstrap.com/" target="_blank">Bootstrap</a>
                </a>
            </li>
        </ul>
    </div>
</div>