<!-- 
<footer class="bg-light py-5 position-sticky">
    <div class="container">
        <div class="row">
            <div class="col-6 col-md">
                <h5>Features</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Cool stuff</a></li>
                    <li><a class="text-muted" href="#">Random feature</a></li>
                    <li><a class="text-muted" href="#">Team feature</a></li>
                    <li><a class="text-muted" href="#">Stuff for developers</a></li>
                    <li><a class="text-muted" href="#">Another one</a></li>
                    <li><a class="text-muted" href="#">Last time</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>Resources</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Resource</a></li>
                    <li><a class="text-muted" href="#">Resource name</a></li>
                    <li><a class="text-muted" href="#">Another resource</a></li>
                    <li><a class="text-muted" href="#">Final resource</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>Resources</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Business</a></li>
                    <li><a class="text-muted" href="#">Education</a></li>
                    <li><a class="text-muted" href="#">Government</a></li>
                    <li><a class="text-muted" href="#">Gaming</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>About</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Team</a></li>
                    <li><a class="text-muted" href="#">Locations</a></li>
                    <li><a class="text-muted" href="#">Privacy</a></li>
                    <li><a class="text-muted" href="#">Terms</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer> -->


<div class="card text-center ">
    <div class="card-body bg-light">
        <div class="row">
            <div class="col-md-6 col-lg-6 pull-left text-white">
                <h4 class="card-title text-warning">Επισκεφτείτε μας στα γραφεία μας._</h4>
                <hr>
                <ul class="">
                    <li class="list-inline-item list-unstyled"><i class="fa fa-map-marker mr-1" aria-hidden="true"></i>
                        Ανδρέα Παπανδρέου 266, Ίλιον ΤΚ 131 21</li>
                    <li class="list-inline-item list-unstyled"><i class="fa fa-phone mr-1" aria-hidden="true"></i>210-2622042</li>
                    <li class="list-inline-item list-unstyled"><i class="fa fa-envelope-o mr-1" aria-hidden="true"></i>contact@dashandot.gr</li>
                </ul>

            </div>
            <div class="col-md-6 col-lg-6">
                <h4 class="card-title text-warning">dāsh&dot. Means price for value_.</h4>
                <hr>
                <ul class="social-links circle large clearfix hidden-sm-down">
                    <li class="list-inline-item list-unstyled"><a href="https://www.facebook.com/dashandot/" target="_blank"><i class="fa fa-facebook-square mr-1"></i>Βρείτε
                            μας στο
                            Facebook</a></li>
                    <li class="list-inline-item list-unstyled"><a href="https://www.instagram.com/dashndoting/" target="_blank"><i
                                class="fa fa-instagram mr-1"></i>Βρείτε μας
                            στο
                        Instagram</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="card-footer text-white bg-warning ">
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link active" href="#">Η ΕΤΑΡΕΙΑ</a>
            </li>
            <div class="vl"></div>
            <li class="nav-item">
                <a class="nav-link" href="#">ΟΡΟΥΣ ΧΡΗΣΗΣ</a>
            </li>
            <div class="vl"></div>
            <li class="nav-item">
                <a class="nav-link" href="#">ΠΡΟΣΩΠΙΚΑ ΔΕΔΟΜΕΝΑ</a>
            </li>
            <div class="vl"></div>
            <li class="nav-item">
                <a class="nav-link" href="#">ΕΠΙΚΟΙΝΩΝΙΑ</a>
            </li>
            <div class="vl"></div>
            <li class="nav-item">
                <a class="nav-link" href="#">ΕΞΥΠΗΡΕΤΗΣΗ ΠΕΛΑΤΩΝ</a>
            </li>
        </ul>
    </div>
</div>